<form [formGroup]="parentForm">
  <div>
    <img #photo style="width:7rem">
  </div>
<br/>
  <label class="image-upload-container btn btn-bwm">
    <span>Alterar Imagem</span>
    <input #imageInput
           type="file"
           accept="image/jpg"
           (change)="processFile(imageInput)">
  </label>
</form>
