<meta name="viewport" content="width=device-width, initial-scale=1.0">



    <nb-tabset *ngIf="!exibirSemXp" badgePosition="bottom right" #tabset fullWidth >
      <nb-tab #addTab tabTitle="Informática " tabIcon="person-outline" responsive >
        <div class="row">
          <nb-card-body>
            <div class="form-group row">
              <label for="experiencia" class="label col-sm-3 col-form-label">Sem Experiëncia</label>
              <div class="col-sm-9">
                <p-inputSwitch
                onLabel="yes"
                (onChange)="handleChanges($event)"
                offLabel="no"
                [(ngModel)]="experiencia"></p-inputSwitch>
              </div>
            </div>

            <div *ngIf="xp">
              <div class="form-group row">
                <label for="inputAtribuicao" class="label col-sm-3 col-form-label">Descrição das atribuições (opcional)</label>
                <div class="col-sm-9">
                    <textarea id="inputAtribuicao" style="height: 10rem;"  class="form-control-person select-nebular-primary" nbInput placeholder="Atribuições"  [(ngModel)]="descAtribuicao"></textarea>
                </div>
              </div>
            </div>

            <form [formGroup]="parentForm">
              <div *ngIf="!xp">
                <div class="form-group row">
                  <label for="inputFuncao" class="label col-sm-3 col-form-label">Tecnolologia</label>
                  <div class="col-sm-9">
                      <select fullWidth="true" placeholder="Selecionar" name="tecnologia" id="tecnologia" (change)="handleChangeSelect($event.target.value)" formControlName="tecnologia" class="form-control-person  select-nebular-primary"  status="primary">
                        <option [value]="-1">Selecionar</option>
                        <option *ngFor="let option of options_informatica" [value]="option.value">{{option.label}}</option>
                      </select>
                  </div>
                </div>

                <div *ngIf="outros">
                  <div class="form-group row">
                    <label for="inputFuncao" class="label col-sm-3 col-form-label">Descrição </label>
                    <div class="col-sm-9">
                      <input fullWidth="true" placeholder="Informe uma tecnologia" name="outros" id="outros" formControlName="descOutros" class="form-control-person  select-nebular-primary"  status="primary">
                    </div>                  
                  </div>
                </div>                

                <div class="form-group row">
                  <label for="inputFuncao" class="label col-sm-3 col-form-label">Nível</label>
                  <div class="col-sm-9">
                    <nb-radio-group id="rdbNivelInformatica"  formControlName="nivel">
                      <nb-radio
                        *ngFor="let option of options"
                        [value]="option.value">
                        {{ option.label }}
                      </nb-radio>
                    </nb-radio-group>
                  </div>
                </div>

                <div class="form-group" style="float: right;">
                  <button (click)="adicionar($event)"
                          class="btn btn-primary btn-lg float-right mt-3">
                    Adicionar
                  </button>
                </div>
              </div>
              <div *ngIf="xp">
                <div class="form-group" style="float: right;">
                  <button (click)="adicionarSemExp()"
                          class="btn btn-primary btn-lg float-right mt-3">
                    Adicionar
                  </button>
                </div>
              </div>

              </form>
            </nb-card-body>
        </div>
      </nb-tab>

    <nb-tab responsive *ngFor="let formacao of parentForm.controls.informatica?.controls; let i=index" tabTitle="Informática {{i+1}}" tabIcon="person-outline">
        <form [formGroup]="parentForm" >
          <div formArrayName="informatica" >
            <div class="row" [formGroupName]="i">
              <nb-card-body>
                
                <div *ngIf="isOpcaoOutros(i)" class="form-group row">
                  <label for="inputFuncao" class="label col-sm-3 col-form-label">Tecnologia</label>
                  <div class="col-sm-9">
                      <select fullWidth="true" placeholder="Selecionar" name="tecnologia" id="tecnologia" formControlName="tecnologia" class="form-control-person  select-nebular-primary"  status="primary">
                        <option [value]="-1">Selecionar</option>
                        <option *ngFor="let option of options_informatica" [value]="option.value" [selected]="" >{{option.label}}</option>
                      </select>
                  </div>
                </div>

                <div *ngIf="!isOpcaoOutros(i)">
                  <div class="form-group row">
                    <label for="inputFuncao" class="label col-sm-3 col-form-label">Outros </label>
                    <div class="col-sm-9">
                      <input fullWidth="true" placeholder="Informe uma tecnologia" name="tecnologia" id="tecnologia" formControlName="tecnologia" class="form-control-person  select-nebular-primary"  status="primary">
                    </div>                  
                  </div>
                </div>  

                <div class="form-group row">
                  <label for="inputFuncao" class="label col-sm-3 col-form-label">Nível</label>
                  <div class="col-sm-9">
                    <nb-radio-group id="rdbNivelInformatica"  formControlName="nivel">
                      <nb-radio
                        *ngFor="let option of options"
                        [value]="option.value">
                        {{ option.label }}
                      </nb-radio>
                    </nb-radio-group>
                  </div>
                </div>
              </nb-card-body>
            </div>
          </div>
          <div class="form-group" style="float: right;">
            <button (click)="atualizar(i)"
                    class="btn btn-primary btn-lg float-right mt-3">
              Atualizar
            </button>
            &nbsp;&nbsp;&nbsp;
          </div>

          <div class="form-group" style="float: right;">
            <button (click)="remover(i)"
                    class="btn btn-danger btn-lg float-right mt-3">
              Remover
            </button>
            &nbsp;&nbsp;&nbsp;
          </div>
        </form>
      </nb-tab>
    </nb-tabset>


      <!---INICIO DA NOVA CONDICAO-->

      <nb-tabset *ngIf="exibirSemXp" badgePosition="bottom right" #tabset fullWidth >
      <nb-tab #addTab tabTitle="Informática " tabIcon="person-outline" responsive >
        <div class="row">
          <nb-card-body>
            <div class="form-group row">
              <label for="experiencia" class="label col-sm-3 col-form-label">Sem Experiëncia</label>
              <div class="col-sm-9">
                <p-inputSwitch
                onLabel="yes"
                (onChange)="handleChangesSemXP($event)"
                offLabel="no"
                [(ngModel)]="!experiencia2"></p-inputSwitch>
              </div>
            </div>
            <div *ngIf="!xp2">
              <div class="form-group row">
                <label for="inputAtribuicao" class="label col-sm-3 col-form-label">Descrição das atribuições (opcional)</label>
                <div class="col-sm-9">
                    <textarea id="inputAtribuicao" style="height: 10rem;"  class="form-control-person select-nebular-primary" nbInput placeholder="Atribuições"  [(ngModel)]="descAtribuicao"></textarea>
                </div>
              </div>
            </div>
            <form [formGroup]="parentForm">
              <div *ngIf="xp2">
                <div class="form-group row">
                  <label for="inputFuncao" class="label col-sm-3 col-form-label">Tecnolologia</label>
                  <div class="col-sm-9">
                      <select fullWidth="true" placeholder="Selecionar" name="tecnologia" id="tecnologia" formControlName="tecnologia" class="form-control-person  select-nebular-primary"  status="primary">
                        <option [value]="-1">Selecionar</option>
                        <option *ngFor="let option of options_informatica" [value]="option.value">{{option.label}}</option>
                      </select>
                  </div>
                </div>

                <div *ngIf="outros">
                  <div class="form-group row">
                    <label for="inputFuncao" class="label col-sm-3 col-form-label">Descrição </label>
                    <div class="col-sm-9">
                      <input fullWidth="true" placeholder="Informe uma tecnologia" name="outros" id="outros" formControlName="descOutros" class="form-control-person  select-nebular-primary"  status="primary">
                    </div>                  
                  </div>
                </div>  

                <div class="form-group row">
                  <label for="inputFuncao" class="label col-sm-3 col-form-label">Nível</label>
                  <div class="col-sm-9">
                    <nb-radio-group id="rdbNivelInformatica"  formControlName="nivel">
                      <nb-radio
                        *ngFor="let option of options"
                        [value]="option.value">
                        {{ option.label }}
                      </nb-radio>
                    </nb-radio-group>
                  </div>
                </div>

                <div class="form-group" style="float: right;">
                  <button (click)="adicionar2($event)"
                          class="btn btn-primary btn-lg float-right mt-3">
                    Adicionar
                  </button>
                </div>
              </div>
              <div *ngIf="!xp2">
                <div class="form-group" style="float: right;">
                  <button (click)="adicionarSemExp2()"
                          class="btn btn-primary btn-lg float-right mt-3">
                    Adicionar
                  </button>
                </div>
              </div>

              </form>
            </nb-card-body>
        </div>
      </nb-tab>
    </nb-tabset>
