<nb-card>
  <nb-card-header>
    Vagas Ofertadas
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="customFunction($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
