@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}
/deep/ .ng2-smart-action-add-add {
  display: none;
}

.tamanho-status{
  font-size: 3rem !important;
}

.visible {
  height: 10em;
  width: 15em;
  font-size: 20rem;
}

::ng-deep {
  ng2-st-tbody-edit-delete {
    display: none;
    height: 0 !important;
  }

  ng2-st-tbody-edit-delete {
    display: none;
    height: 0 !important;
  }

  ng2-st-tbody-custom {
    display: flex;
    text-align: center;
  }
}
