<div class="socials">
  <a href="https://www.instagram.com/bantal_cv/" target="_blank" class="ion ion-social-instagram"></a>
  <a href="https://www.facebook.com/bantalcv/" target="_blank" class="ion ion-social-facebook"></a>
  <a href="https://twitter.com/BantalCv" target="_blank" class="ion ion-social-twitter"></a>
  <a href="https://br.linkedin.com/in/bantal-cv" target="_blank" class="ion ion-social-linkedin"></a>
</div>
