<!--div class="card">
  <p-dataView p-dataView #dv [value]="vagas" [paginator]="true" [rows]="9" filterBy="cdVaga"
      [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">

      <p-header>
        <br />
        <br />
        <div class="search-hero">
          <input class="form-control" type="text" name="search" (input)="dv.filter($event.target.value)" autocomplete="off" placeholder="&#61442;  Busca por código da vaga">
        </div>
      </p-header>

      <ng-template let-vaga pTemplate="item" let-i="index" style="overflow: unset;" >
            <div class="item-list card-vagas">
              <div class="item item-1">
                <div class="img"><a href="javascript:;">
                    <div class="like">{{vaga.cdVaga}}</div></a>
                    <div *ngIf="vaga.foto != null" class="text-center">
                      <img #photo class="image-foto foto-painel"[src]="adicionarTag(vaga.foto)">
                  </div>
                  <div *ngIf="vaga.foto == null" class="text-center">
                      <img #photo class="img-content" src="{{semImagem}}">
                  </div>
                </div>
                <div class="social">
                  <a (click)="realizarCandidatura(vaga)">
                    <div *ngIf="vaga.inscrito === false" class="fb">
                      <i nbPopover="Realizar Inscrição"
                                      nbPopoverTrigger="hover"
                                      class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </div>
                  </a>
                </div>
                <div class="social">
                  <a (click)="realizarCandidatura(vaga)">
                    <div *ngIf="vaga.inscrito === false" class="ig">
                      <i nbPopover="Realizar Inscrição"
                                      nbPopoverTrigger="hover"
                                      class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    </div>
                    </a>
                    <a (click)="alertaJaInscrito()">
                    <div *ngIf="vaga.inscrito" class="fb">
                      <i nbPopover="Inscrito"
                                      nbPopoverTrigger="hover"
                                      class="fa fa-edit fa-2x" aria-hidden="true" disabled></i>
                    </div>
                  </a>
                </div>
                <div class="text-container">
                  <span class="top">{{vaga.titulo}}</span>
                  <div class="content">
                  </div>
                  <div class="readmore text-center">
                    <div class="text-left texto">
                      <b>Data Limite:</b> {{vaga.dataLimite}}
                      <br/>
                      <b>Salário Proposto:</b> {{vaga.salario}}
                    </div>
                  </div>
                  </div>
                </div>
              </div>
      </ng-template>

  </p-dataView>
</div-->
<div class="card">
  <p-dataView #dv [value]="vagas" [paginator]="true" [rows]="9" filterBy="cdVaga"
      [sortField]="sortField" [sortOrder]="sortOrder" >
      <p-header>
        <br />
        <br />
        <div class="search-hero">
          <input class="form-control" style="box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2); padding: 2px;" type="text" name="search" (input)="dv.filter($event.target.value)" autocomplete="off" placeholder="&#61442;  Busca por código da vaga">
        </div>
      </p-header>
    <ng-template let-vaga pTemplate="listItem" let-i="index" style="overflow: unset; justify-content: center;" >
      <div class="item-list card-vagas" [nbPopover]="template" [nbPopoverContext]="{ cdVaga: vaga.cdVaga, descricao: vaga.descricao, titulo: vaga.titulo, tipoVaga: vaga.tipoVaga, nomeAreaAtuacao: vaga.nomeAreaAtuacao, localizacao: vaga.localizacao, dataLimite: vaga.dataLimite }" nbPopoverTrigger="hint">
        <div class="item item-1">
          <div class="img"><a href="javascript:;">
              <div class="like">{{vaga.cdVaga}}</div></a>
              <div *ngIf="vaga.foto != null" class="text-center">
                <img #photo class="image-foto foto-painel"[src]="adicionarTag(vaga.foto)">
            </div>
            <div *ngIf="vaga.foto == null" class="text-center">
                <img #photo class="img-content" src="{{semImagem}}">
            </div>
          </div>
          <div class="social">
            <a (click)="realizarCandidatura(vaga)">
              <div *ngIf="vaga.inscrito === false" class="fb">
                <i nbPopover="Realizar Inscrição"
                                nbPopoverTrigger="hover"
                                class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </div>
            </a>
          </div>
          <div class="social">
            <a (click)="realizarCandidatura(vaga)">
              <div *ngIf="vaga.inscrito === false" class="ig">
                <i nbPopover="Realizar Inscrição"
                                nbPopoverTrigger="hover"
                                class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
              </div>
              </a>
              <a (click)="alertaJaInscrito()">
              <div *ngIf="vaga.inscrito" class="fb">
                <i nbPopover="Inscrito"
                                nbPopoverTrigger="hover"
                                class="fa fa-edit fa-2x" aria-hidden="true" disabled></i>
              </div>
            </a>
          </div>
          <div class="text-container">
            <span class="top">{{vaga.titulo}}</span>
            <div class="content">
            </div>
            <div class="readmore text-center">
              <div class="text-left texto">
                <b>Data Limite:</b> {{vaga.dataLimite}}
                <br/>
                <b>Salário Proposto:</b> {{vaga.salario}}
              </div>
            </div>
            </div>
          </div>
        </div>
    </ng-template>
    <ng-template #template let-data>
      <nb-card-header>{{ data.cdVaga }} - {{ data.titulo }}</nb-card-header>
      <nb-card class="popover-card">
        <nb-card-body>
          <br>
          <span>{{ data.nomeAreaAtuacao }} - {{ data.tipoVaga }}</span>
          <br>
          <span>{{ data.localizacao }}</span>
          <br>
          <span>{{ data.dataLimite }}</span>
          <br>
          <br>
          {{ obterString(data.descricao) }}
        </nb-card-body>
      </nb-card>
    </ng-template>
  </p-dataView>
</div>
