@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.bantal-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  background: #eee;
}

.container {
  width: 1170px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background: white;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  padding: 10px;
  filter: drop-shadow(0px 3.86907px 11.6072px rgba(170, 170, 170, 0.25));
  overflow: hidden;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content h3,
.card-content p {
  margin: 0;
}

.card-content h3 {
  font-size: 4rem;
  font-weight: 600;
  color: #7e72f2;
}

.card-header h2 {
  padding: 0 15px;
  font-weight: 400;
  color: #333;
}

#bantal-chart-empresas {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  --color: linear-gradient(45deg, #b7b1f7 50.28%, #ffffff 100%);
}

#bantal-chart-vagas {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  --color: linear-gradient(45deg, #53baaa 21.28%, #ffffff 100%);
}

#bantal-chart-curriculos {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  --color: linear-gradient(45deg, #f7b1e8 21.28%, #ffffff 100%);
}

#bantal-chart-inscricoes {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  --color: linear-gradient(45deg, #baaa53 21.07%, #ffffff 100%);
}
