<div class="p-grid layout-dashboard">
    <div class="p-col-12 p-md-6 p-lg-6">
        <nb-card accent="info" [size]="'medium'" style="height: 47em;">
           <nb-card-header style="text-align: center">Currículo</nb-card-header>
             <nb-card-body>
                <app-curriculo></app-curriculo>
             </nb-card-body>
        </nb-card>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6">        
        <nb-card accent="info">
            <nb-card-header style="text-align: center">Perguntas</nb-card-header>
            <app-perguntas></app-perguntas> 
        </nb-card>        
    </div>
</div>          