<form [formGroup]="parentForm">
  <div *ngIf="temFoto" style="margin-left: 8em;">
    <img #photo [src]=showedImage style="width:7rem">
  </div>
<br/>
  <label class="image-upload-container btn btn-bwm">
    <span>{{nome}}</span>
    <input #imageInput
           type="file"
           accept="image/jpg"
           (change)="processFile(imageInput)">
  </label>
</form>
