
<form [formGroup]="resourceForm">
  <div class="card">
    <nb-card status="info">
      <nb-card-header style="text-align: center; color: #FFFFFF">
        <b><h2 style="color: #FFFFFF">{{tituloVaga}} </h2></b>

      </nb-card-header>
    <div class="card-body border border-primary">

        <!-- titulo -->
        <div *ngIf="novaPublicacao"class="form-group">
          <label for="titulo">Título da Vaga</label>
          <input type="text" class="form-control" id="titulo" formControlName="titulo">
        </div>

        <div *ngIf="!novaPublicacao" class="form-group">
          <label for="titulo">Título da Vaga</label>
          <input disabled type="text" class="form-control" id="titulo" formControlName="titulo">
        </div>

        <div class="form-row">
          <!-- localizacao -->
          <div class="form-group col-md-3">
            <label for="type">Estado</label>
            <select fullWidth="true"  placeholder="Selecionar" name="estado" id="estado" formControlName="estado" class="form-control-person select-nebular-primary"  status="primary">
              <option [value]="-1">Selecionar</option>
              <option *ngFor="let option of estados" [value]="option.sigla">{{option.nome}}</option>
            </select>
          </div>

          <div class="form-group col-md-3">
            <label for="type">Cidade</label>
            <select fullWidth="true"  placeholder="Selecionar"
            name="cidade"
            id="cidade"
            formControlName="cidade"
            class="form-control-person select-nebular-primary" >
              <option [value]="-1">Selecionar</option>
              <option *ngFor="let cid of cidades" [value]="cid.nome">{{cid.nome}}</option>
            </select>
          </div>

          <!-- type -->
          <div class="form-group col-md-6">
            <label for="tipoVaga">Tipo da Vaga</label>
            <select fullWidth="true" placeholder="Selecionar" name="tipoVaga" id="tipoVaga" formControlName="idTipoVaga" class="form-control-person  select-nebular-primary"  status="primary">
              <option [value]="-1">Selecionar</option>
              <option *ngFor="let option of tipovagaServices$ | async" [value]="option.id + ',' + option.valor">{{option.nome}}</option>
            </select>
          </div>


          <!-- Categoria -->
          <div class="form-group col-md-5">
            <label for="areaAtuacao">Área de Atuação</label>
            <select fullWidth="true" placeholder="Selecionar" name="areaAtuacao" id="idAreaAtuacao" formControlName="idAreaAtuacao" class="form-control-person  select-nebular-primary"  status="primary">
              <option [value]="-1">Selecionar</option>
              <option *ngFor="let option of areaAtuacaoServices$ | async" [value]="option.termId+ ',' + option.slug">{{option.name}}</option>
            </select>
          </div>

          <div class="form-group col-md-5">
            <label for="idProfissao">Profissão</label>
            <select fullWidth="true" placeholder="Selecionar" name="idProfissao" id="idProfissao" formControlName="idProfissao" class="form-control-person  select-nebular-primary"  status="primary">
              <option [value]="-1">Selecionar</option>
              <option *ngFor="let option of profissoes" [value]="option.idProfissao">{{option.nome}}</option>
            </select>
          </div>
        </div>

        <!-- Descricao -->
        <div class="form-group">
            <label for="postContent">Descrição</label>
            <p-editor [style]="{'height':'180px'}" formControlName="postContent"></p-editor>

         </div>

        <div class="form-row">
          <!-- Data Limite -->
          <div class="form-group  col-md-3">
            <label for="name">Data Limite</label>
            <p-calendar id="data"
                        [style]="{'border':'1px solid #ced4da','border-radius': '0.25rem', 'height' : 'calc(1.5em + 0.75rem + 2px)', 'display': 'flex'}"
                        formControlName="dataExpiracao"
                        dataType="string"
                        dateFormat="dd/mm/yy"
                        [locale]="ptBR"
                        appendTo="body"
                        [showButtonBar]="true"></p-calendar>
          </div>

          <!-- EMAIL >
          <div class="form-group  col-md-9">
            <label for="email">Email da Candidatura</label>
            <input type="text" class="form-control" id="email" formControlName="email">
          </div-->
        </div>

        <div class="form-row">
        <div class="form-group  col-md-3">
            <label for="name">Salário do Cargo</label>
            <select fullWidth="true" placeholder="Selecionar" name="salario" id="idSalario" formControlName="salario" class="form-control-person  select-nebular-primary"  status="primary">
              <option [value]="-1">Selecionar</option>
              <option  *ngFor="let option of optionsSalario"
              [value]="option.value">{{option.label}}</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-5">
            <label>A vaga é Confidencial </label> &nbsp;&nbsp;&nbsp;&nbsp;
            <p-inputSwitch
            onLabel="yes"
            (onChange)="handleChange($event)"
            offLabel="no"
            formControlNamel="confidencial"></p-inputSwitch>
            <!-- div *ngIf="!confidencial" class="text-left">
              <app-image-upload-empresa imgText="Escolha a logomarca da Empresa" [parentForm]="resourceForm"></app-image-upload-empresa>
            </div -->
          </div>
        </div>


       <div *ngIf="novaPublicacao" class="form-group" style="float: right;">
         <button (click)="abrirConfirmacaoDialog()"
                 class="btn btn-primary btn-lg float-right mt-3">
           Publicar
         </button>
       </div>

       <div *ngIf="!novaPublicacao" style="float: right; display: flex;">
        <div class="form-group" style="float: right;">
          <button (click)="voltar()" style="font-size: 1rem;"
                  class="btn btn-danger btn-lg float-right mt-3">
            Cancelar
          </button>
          &nbsp;&nbsp;&nbsp;
        </div>

        <div class="form-group" style="float: right;">
          <button (click)="abrirConfirmacaoDialog()" style="font-size: 1rem;"
                  class="btn btn-success btn-lg float-right mt-3">
            Atualizar
          </button>
          &nbsp;&nbsp;&nbsp;
        </div>
      </div>
    </div>
  </nb-card>
  </div>
  </form>
  <app-loading></app-loading>
