/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
 */

@import 'global/components';
@import 'global/overrides';
@import 'global/breakpoints';

@mixin nb-theme-global() {
  @include nb-theme-components();
  @include nb-theme-overrides();
}

@mixin nb-install() {
  @include nb-install-global() {
    @content;
  }
}
