<div class="row">
        <nb-card-body>
            <form>
              <div class="form-group row">
                <label for="inputAtuacao" class="label col-sm-3 col-form-label">Área de Atuação</label>
                <div class="col-sm-9">
                  <input type="email" nbInput fullWidth id="inputAtuacao" placeholder="Administração">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputFuncao" class="label col-sm-3 col-form-label">Função/Cargo</label>
                <div class="col-sm-9">
                  <input type="text" nbInput fullWidth id="inputFuncao" placeholder="Assistente">
                </div>
              </div>
              <div class="form-group row">
                  <label for="inputNivel" class="label col-sm-3 col-form-label">Nível</label>
                  <div class="col-sm-9">
                   <input type="text" nbInput fullWidth id="inputNivel" placeholder="Junior">
                 </div>
              </div>
              <div class="form-group row">
                  <label for="inputPretensao" class="label col-sm-3 col-form-label">Pretensão Salarial</label>
                  <div class="col-sm-9">
                   <input type="text" nbInput fullWidth id="inputPretensao" placeholder="R$ 1.000,00">
                 </div>
              </div>
              <div class="form-group row">
                  <label for="textQualificacao" class="label col-sm-3 col-form-label">Resumo de Qualificação</label>
                  <div class="col-sm-9">
                      <textarea id="textQualificacao" nbInput placeholder="Message"></textarea>
                 </div>
              </div>              
            </form>
          </nb-card-body>
</div>