#header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin-top: 0;
  }
  
  .loading-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .loading {
    height: 189px;
    width: 189px;
    position: relative;
    margin: 0 15px 15px 0;
    padding: 15px;
    border: 1px #ccc solid;
    border-radius: 4px;
  }
  
  .loading p {
    margin: 0 0 10px 0;
  }
  
  button {
    border: none;
    border-radius: 4px;
    padding: 6px;
    color: white;
    outline: none;
    font-weight: bold;
    font-size: 1.1em;
    margin: 15px 15px 15px 0;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: #666666;
  }
  
  button:hover {
    background-color: #797979;
  }
  
  button#toggle-loading-button {
    background-color: #dd0031;
  }
  
  button#toggle-loading-button:hover {
    background-color: #ff0032;
  }
  
  button#toggle-colours-button {
    background-color: #006ddd;
  }
  
  button#toggle-colours-button:hover {
    background-color: #0c7aea;
  }
  
  button#toggle-template-button {
    background-color: black;
  }
  
  button#toggle-template-button:hover {
    background-color: #303030;
  }
  
  .custom-class {
    top: 0;
    z-index: 2002;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000ba;
    border-radius: 3px;
  }
  
  .custom-class h3 {
    color: white;
  }
  .loading-screen-wrapper {
    z-index: 100000;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .loading-screen-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .spinner-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 998;
    app-spinner {
        width: 6rem;
        height: 6rem;
    }
}