
.check-tp-vaga {
  color: green;
  }

  .close-tp-vaga {
  color: red;
  }

::ng-deep {
  ng2-st-tbody-edit-delete {
    display: none;
    height: 0 !important;
  }

  ng2-st-tbody-edit-delete {
    display: none;
    height: 0 !important;
  }

  ng2-st-tbody-custom {
    display: flex;
    text-align: center;
  }
}

.tamanho-status{
  font-size: 3rem !important;
}

.visible {
  height: 10em;
  width: 15em;
  font-size: 20rem;
}

