<nb-card-body>
  <p-table [columns]="cols" [value]="dados" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th rowspan="3" style="text-align: center">Nome da Vaga</th>
        </tr>
        <tr>
            <th colspan="2" style="text-align: center">Detalhes das Vagas</th>            
            <th rowspan="3" style="text-align: center">Ações</th>
        </tr>
        <tr>
            <th style="text-align: center">Inscritos</th>
            <th style="text-align: center">Visualizar Candidatos</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>                
                <td>{{ rowData['codigo'] }} - {{ rowData['titulo'] }}</td>
                <td style="text-align: center">{{ rowData['qtd_inscritos'] }}</td>                
                <!-- <td style="text-align: center"><a [routerLink]="'/incritos'">Go To Home</a></td> -->
                <td style="text-align: center"><button pButton icon="pi pi-users" (click)="selecionarCandidatos(rowData['codigo'])"></button></td>
                <td style="text-align: center"><button class="btn btn-outline-info btn-sm mr-2">Detalhar</button> </td>
            </tr>
    </ng-template>
</p-table>
</nb-card-body>