<div class="row">
    <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="inputEmpregador" class="label col-sm-3 col-form-label">Empregador</label>
            <div class="col-sm-9">
              <input type="email" nbInput fullWidth id="inputEmpregador" placeholder="">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputTrabalho" class="label col-sm-3 col-form-label">Cargo Ocupado</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="inputFuncao" placeholder="Assistente">
            </div>
          </div>
          <div class="form-group row">
              <label for="inputDtInicio" class="label col-sm-3 col-form-label">Data inicio</label>
              <div class="col-sm-9">
                <input type="text" nbInput fullWidth id="inputDtInicio" placeholder="20/11/2009">
              </div>
            </div>
            <div class="form-group row">
                <label for="inputDtFim" class="label col-sm-3 col-form-label">Data Término</label>
                <div class="col-sm-9">
                  <input type="text" nbInput fullWidth id="inputDtFim" placeholder="20/11/2013">
                </div>
            </div>
          <div class="form-group row">
              <label for="textNotas" class="label col-sm-3 col-form-label">Notas</label>
              <div class="col-sm-9">
                  <textarea id="textNotas" nbInput placeholder="Message"></textarea>
             </div>
          </div>
        </form>
      </nb-card-body>
</div>
