<div class="row">
        <nb-card-body>
          <form [formGroup]="parentForm">
              <div class="form-group row">
                <label for="inputNome" class="label col-sm-3 col-form-label">Nome *</label>
                <div class="col-sm-9">
                  <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputNome" placeholder="Nome" formControlName="nome">

                  <div *ngIf=" submitted && parentForm.controls['nome'].invalid" class="alert alert-danger">
                    <div *ngIf="submitted && parentForm.controls['nome'].errors.required">
                      Nome é requerido.
                    </div>
                  </div>
                </div>

                </div>

              <div class="form-group row">
                <label for="inputNacionalidade" class="label col-sm-3 col-form-label">Nacionalidade *</label>
                <div class="col-sm-9">
                 <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputNacionalidade" placeholder="Nacionalidade" formControlName="nacionalidade">

                  <div *ngIf="submitted && parentForm.controls['nacionalidade'].invalid" class="alert alert-danger">
                    <div *ngIf="submitted && parentForm.controls['nacionalidade'].errors.required">
                      Nacionalidade é requerida.
                    </div>
                  </div>

                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 label">Estado Civil *</label>
                <div class="col-sm-9">
                  <nb-radio-group id="rdbEstadoCivil"  formControlName="estadoCivil">
                    <nb-radio
                      *ngFor="let option of options"
                      [value]="option.value">
                      {{ option.label }}
                    </nb-radio>
                  </nb-radio-group>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputFilhos" class="label col-sm-3 col-form-label">Filhos *</label>
                <div class="col-sm-9">
                  <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputFilhos" placeholder="Filhos" formControlName="filhos">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputDtNascimento" class="label col-sm-3 col-form-label">Idade *</label>
                <div class="col-sm-9">
                 <input type="number" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputDtNascimento" placeholder="Idade" formControlName="idade">
               </div>
              </div>
              <div class="form-group row">
                <label for="inputEndereco" class="label col-sm-3 col-form-label">Endereço *</label>
                <div class="col-sm-9">
                 <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputEndereco" placeholder="Endereço" formControlName="endereco">

                 <div *ngIf="submitted && parentForm.controls['endereco'].invalid" class="alert alert-danger">
                  <div *ngIf="submitted && parentForm.controls['endereco'].errors.required">
                    Endereço é requerida.
                  </div>
                </div>

               </div>
             </div>
              <div class="form-group row">
                  <label for="inputTelefone" class="label col-sm-3 col-form-label">Telefone *</label>
                  <div class="col-sm-9">
                   <input type="number" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputTelefone" placeholder="Telefone" formControlName="telefone">

                   <div *ngIf="submitted && parentForm.controls['telefone'].invalid" class="alert alert-danger">
                    <div *ngIf="submitted && parentForm.controls['telefone'].errors.required">
                      Telefone é requerido.
                    </div>
                  </div>

                 </div>
              </div>
              <div class="form-group row">
                <label for="inputCelular" class="label col-sm-3 col-form-label">Celular *</label>
                <div class="col-sm-9">
                 <input type="number" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputCelular" placeholder="Celular" formControlName="celular">

                 <div *ngIf=" submitted && parentForm.controls['celular'].invalid" class="alert alert-danger">
                  <div *ngIf="submitted && parentForm.controls['celular'].errors.required">
                    Celular é requerido.
                  </div>
                </div>

               </div>
             </div>
             <div class="form-group row">
              <label for="inputRecados" class="label col-sm-3 col-form-label">Recados</label>
              <div class="col-sm-9">
                <input type="number" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputRecados" placeholder="Recados" formControlName="telefoneRecados">
              </div>
             </div>
              <div class="form-group row">
                <label for="inputEmail" class="label col-sm-3 col-form-label">Email *</label>
                <div class="col-sm-9">
                  <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputEmail" placeholder="Email" formControlName="email">

                  <div *ngIf="submitted && parentForm.controls['email'].invalid" class="alert alert-danger">
                    <div *ngIf="submitted && parentForm.controls['email'].errors.required">
                      Email é requerido.
                    </div>
                  </div>

                </div>
              </div>
              <div class="form-group row">
                <label for="inputLinkedin" class="label col-sm-3 col-form-label">Linkedin</label>
                <div class="col-sm-9">
                  <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputLinkedin" placeholder="Linkedin" formControlName="linkedin">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputCNH" class="label col-sm-3 col-form-label">Categoria CNH</label>
                <div class="col-sm-9">
                  <app-nb-checkbox [parentFormGroup]="parentForm" [colecao]="listaCategoriaCNH" ></app-nb-checkbox>
                </div>
              </div>
              <div class="form-group row">
                  <label for="inputCPF" class="label col-sm-3 col-form-label">CPF *</label>
                  <div class="col-sm-9">
                   <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputCPF" placeholder="CPF" formControlName="identificacao" disabled>

                   <div *ngIf="submitted && parentForm.controls['identificacao'].invalid" class="alert alert-danger">
                    <div *ngIf="submitted && parentForm.controls['identificacao'].errors.required">
                      CPF é requerido.
                    </div>
                  </div>

                 </div>
              </div>
              <div class="form-group row">
                  <label for="inputRG" class="label col-sm-3 col-form-label">RG *</label>
                  <div class="col-sm-9">
                   <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputRG" placeholder="RG" formControlName="rg">

                   <div *ngIf="submitted && parentForm.controls['rg'].invalid" class="alert alert-danger">
                    <div *ngIf="parentForm.controls['rg'].errors.required">
                      RG é requerido.
                    </div>
                  </div>
                 </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 label">Formação</label>
                <div class="col-sm-9">
                  <form  [formGroup]="parentForm">
                    <nb-radio-group id="rdbEstadoFormacao" formControlName="formacao">
                      <nb-radio
                        *ngFor="let optionFormacao of optionsFormacao"
                        [value]="optionFormacao.value">
                        {{ optionFormacao.label }}
                      </nb-radio>
                    </nb-radio-group>
                </form>
                </div>
              </div>
            </form>
            <div class="form-group" style="float: right;">
              <button (click)="abrirConfirmacaoDialog()"
                      class="btn btn-primary btn-lg float-right mt-3">
                Publicar
              </button>
            </div>
          </nb-card-body>
</div>
