<nb-card-body>
  <p-table [columns]="cols" [value]="usuarios">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" style="text-align: center; height: 2rem;">
                {{col.header}}
            </th>
            <th style="width:5em"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td>
                <div class="row">
                    &nbsp;
                    <button pButton nbStepperNext icon="pi pi-check" (click)="selecionarCandidato(rowData)"></button>
                    &nbsp;
                    <button pButton class="ui-button-warning" icon="pi pi-info" (click)="selectCarWithButton(rowData)"></button>
                    &nbsp;
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
</nb-card-body>