<meta name="viewport" content="width=device-width, initial-scale=1.0">

<nb-card>
  <nb-card-body>

    <nb-tabset badgePosition="bottom right" #tabset>
      <nb-tab #addTab tabTitle="Adicionar Cursos" tabIcon="person-outline">
        <div class="row">
          <nb-card-body>
            <form [formGroup]="parentForm">
                <div class="form-group row">
                  <label for="inputInstituicao" class="label col-sm-3 col-form-label">Instituição</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputInstituicao" placeholder="Instituição"  formControlName="instituicao">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputCurso" class="label col-sm-3 col-form-label">Curso</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputCurso" placeholder="Nome do Curso"  formControlName="nomeCurso">
                    </div>
                  </div>
                  <div class="form-group row">
                      <label for="inputAnoInicio" class="label col-sm-3 col-form-label">Ano inicio</label>
                      <div class="col-sm-9">
                        <input type="text" nbInput class="form-control-person select-nebular-primary" id="inputAnoInicio" placeholder="Ano Inicio"  formControlName="anoInicio">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAnoFim" class="label col-sm-3 col-form-label">Ano fim</label>
                        <div class="col-sm-9">
                          <input type="text" nbInput class="form-control-person select-nebular-primary" id="inputAnoFim" placeholder="Ano Fim"  formControlName="anoFim">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputCargaHoraria" class="label col-sm-3 col-form-label">Carga horária</label>
                        <div class="col-sm-9">
                            <textarea id="inputNotas" class="form-control-person select-nebular-primary" nbInput placeholder="Carga horária"  formControlName="cargaHoraria"></textarea>
                        </div>
                      </div>
              </form>
              <div class="form-group" style="float: right;">
                <button (click)="adicionar()"
                        class="btn btn-primary btn-lg float-right mt-3">
                  Adicionar
                </button>
              </div>
            </nb-card-body>
        </div>
      </nb-tab>

      <nb-tab *ngFor="let curso of parentForm.controls.cursos?.controls; let i=index" tabTitle="Curso {{i+1}}" tabIcon="person-outline">
        <form [formGroup]="parentForm" >
          <div formArrayName="curso" >
            <div class="row" [formGroupName]="i">
              <nb-card-body>
                <div class="form-group row">
                  <label for="inputInstituicao" class="label col-sm-3 col-form-label">Instituição</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputInstituicao" placeholder="Instituição"  formControlName="instituicao">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputCurso" class="label col-sm-3 col-form-label">Curso</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputCurso" placeholder="Nome do Curso"  formControlName="nomeCurso">
                    </div>
                  </div>
                  <div class="form-group row">
                      <label for="inputAnoInicio" class="label col-sm-3 col-form-label">Ano inicio</label>
                      <div class="col-sm-9">
                        <input type="text" nbInput class="form-control-person select-nebular-primary" id="inputAnoInicio" placeholder="Ano Inicio"  formControlName="anoInicio">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAnoFim" class="label col-sm-3 col-form-label">Ano fim</label>
                        <div class="col-sm-9">
                          <input type="text" nbInput class="form-control-person select-nebular-primary" id="inputAnoFim" placeholder="Ano Fim"  formControlName="anoFim">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputCargaHoraria" class="label col-sm-3 col-form-label">Carga horária</label>
                        <div class="col-sm-9">
                            <textarea id="inputNotas" class="form-control-person select-nebular-primary" nbInput placeholder="Carga horária"  formControlName="cargaHoraria"></textarea>
                        </div>
                      </div>
              </nb-card-body>
            </div>
          </div>
          <div class="form-group" style="float: right;">
            <button (click)="atualizar(i)"
                    class="btn btn-primary btn-lg float-right mt-3">
              Atualizar
            </button>
            &nbsp;&nbsp;&nbsp;
          </div>

          <div class="form-group" style="float: right;">
            <button (click)="remover(i)"
                    class="btn btn-danger btn-lg float-right mt-3">
              Remover
            </button>
            &nbsp;&nbsp;&nbsp;
          </div>
        </form>
      </nb-tab>

    </nb-tabset>
  </nb-card-body>
</nb-card>
