<app-loading></app-loading>

<div class="p-grid layout-dashboard">
  <div class="p-col-12 p-md-6 p-lg-4 text-center">
    <nb-card accent="info" class="vagas-abertas texto">
      <nb-card-header>Vagas Abertas</nb-card-header>
      <nb-card-body class="texto">
        {{dados.qtdVagasAbertas}}
      </nb-card-body>
      <nb-card-footer id="wave" style="background:white;">
        <p-chart type="horizontalBar" [data]="vagasAbertas"></p-chart>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="p-col-12 p-md-6 p-lg-4 text-center">
    <nb-card accent="info" class="total-candidatos texto">
      <nb-card-header>Total de Candidatos</nb-card-header>
      <nb-card-body class="texto">
        {{dados.totalInscritos}}
      </nb-card-body>
      <nb-card-footer style="background:white;">
        <p-chart type="horizontalBar" [data]="inscricoesVaga"></p-chart>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="p-col-12 p-md-6 p-lg-4 text-center">
    <nb-card accent="info" class="total-candidatos texto">
      <nb-card-header>Banco de Talentos</nb-card-header>
      <nb-card-body class="texto">
        <button style="border: none; background: white;" (click)="visualizarBancoDeTalentos()">
          <nb-icon class="nb-icon" [options]="{ size: '2rem' }" status="success" icon="people-outline"></nb-icon>
        </button>
      </nb-card-body>
      <nb-card-footer style="background:white;font-size: 1.0rem">
        Consultar o banco de talentos
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="p-col-12 p-md-6 p-lg-4" style="width:100%">
      <div class="card card-w-title global-sales ui-fluid">
          <app-recrutamento-list></app-recrutamento-list>
      </div>
</div>
</div>
