<app-loading></app-loading>
<div *ngIf="!finalizarLoad">
<div class="text-center">
  <nb-alert status="warning">{{textoCarregando}}</nb-alert>
    <div *ngIf="exibirLoading">
      <br />
      <img height="48" width="48" src="../../../../assets/bantal/images/ajax-loader.gif"/>
      <br />
    </div>
  <b>{{textoAguarde}}</b>
  <br />
  <br />
</div>
</div>

<div *ngIf="finalizarLoad">
  <div class="card-row">
    <div style="width: 100%; display: flex;">
      <p-card *ngFor="let plano of listaPlanos; let i = index" class="card-{{plano.slug}}">
              <div class="plano-{{plano.slug}}">
                  <div class="text-center">{{plano.nome}}</div>
              </div>
              <div style="background:white;;height: 38rem;">
                  <br/>
                  <br/>
                  <div class="text-center">
                    <span *ngIf="plano.slug !== 'inicial'" class="cifra">{{plano.parcelas}} x </span>
                    <span class="cifra">R$ </span>
                    <span class="valor-{{plano.slug}}">{{obterValorPlano(plano.valor,plano.parcelas)}}</span>
                  </div>
                  <br/>
                  <br/>

                  <div *ngIf="plano.slug === 'inicial'">
                      <ul class="columns">
                          <br />
                          <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Acesso, com login e senha, para atualizar o Currículo, quantas vezes desejar, e gerar pdf para impressão, por tempo ilimitado.</span></li>
                          <div class="line"></div>
                          <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon>Acesso ao Painel Resumo de Vagas disponíveis por empresa, durante 2 meses.</li>
                          <div class="line"></div>
                          <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon>Acesso para candidatar-se diretamente nas vagas disponibilizadas pelas empresas que anunciam na Bantal, por tempo ilimitado.</li>
                          <div class="line"></div>
                          <li><nb-icon  icon="close-circle-outline" status="danger"></nb-icon>Acesso ao Chat com as Empresas.</li>
                          <div class="line"></div>
                          <li><nb-icon  icon="close-circle-outline" status="danger"></nb-icon>Contato com Analista de RH Bantal, via chat e videoconferência, agendados previamente, em busca de orientação profissional para preenchimento de currículo, dicas sobre novas vagas, entrevistas de emprego, etc.</li>
                      </ul>
                  </div>
                  <div *ngIf="plano.slug === 'ouro'">
                      <ul class="columns">
                          <br />
                          <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Acesso, com login e senha, para atualizar o Currículo, quantas vezes desejar, e gerar pdf para impressão, por tempo ilimitado.</span></li>
                          <div class="line"></div>
                          <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon>Acesso ao Painel Resumo de Vagas disponíveis por empresa, durante 6 meses.</li>
                          <div class="line"></div>
                          <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon>Acesso para candidatar-se diretamente nas vagas disponibilizadas pelas empresas que anunciam na Bantal, por tempo ilimitado.</li>
                          <div class="line"></div>
                          <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon>Acesso ao Chat com as Empresas.</li>
                          <div class="line"></div>
                          <li><nb-icon  icon="close-circle-outline" status="danger"></nb-icon>Contato com Analista de RH Bantal, via chat e videoconferência, agendados previamente, em busca de orientação profissional para preenchimento de currículo, dicas sobre novas vagas, entrevistas de emprego, etc.</li>
                      </ul>
                  </div>
                  <div *ngIf="plano.slug === 'estrela'">
                      <ul class="columns">
                          <br />
                          <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Acesso, com login e senha, para atualizar o Currículo, quantas vezes desejar, e gerar pdf para impressão, por tempo ilimitado.</span></li>
                          <div class="line"></div>
                          <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon>Acesso ao Painel Resumo de Vagas disponíveis por empresa, durante 12 meses.</li>
                          <div class="line"></div>
                          <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon>Acesso para candidatar-se diretamente nas vagas disponibilizadas pelas empresas que anunciam na Bantal, por tempo ilimitado.</li>
                          <div class="line"></div>
                          <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon>Acesso ao Chat com as Empresas.</li>
                          <div class="line"></div>
                          <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon>Contato com Analista de RH Bantal, via chat e videoconferência, agendados previamente, em busca de orientação profissional para preenchimento de currículo, dicas sobre novas vagas, entrevistas de emprego, etc.</li>
                      </ul>
                  </div>
              </div>
              <br/>
              <br/>
              <br/>
              <br/>
              <div style="background:white;">
                  <div class="text-center">
                    <div *ngIf="(slugPlano.slug === 'ouro' || slugPlano.slug === 'estrela') && !renovarPlano">
                      <div *ngIf="plano.slug === slugPlano.slug">
                          <button nbButton status="success" disabled>Assinado</button>
                      </div>
                      <div *ngIf="plano.slug !== slugPlano.slug">
                          <button nbButton status="success" disabled>Assinar</button>
                      </div>
                    </div>
                    <div *ngIf="(slugPlano.slug === 'ouro' || slugPlano.slug === 'estrela') && renovarPlano">
                        <button nbButton status="success" (click)="checkoutMercadoPago(i)">Renovar</button>
                    </div>
                    <div *ngIf="slugPlano.slug === 'inicial' && !renovarPlano">
                      <div *ngIf="plano.slug === slugPlano.slug">
                          <button nbButton status="success" disabled>Aderido</button>
                      </div>
                      <div *ngIf="plano.slug !== slugPlano.slug">
                          <button nbButton status="success" (click)="checkoutMercadoPago(i)">Assinar</button>
                      </div>
                    </div>
                    <div *ngIf="slugPlano.slug === 'inicial' && renovarPlano">
                      <div *ngIf="plano.slug === slugPlano.slug">
                          <button nbButton status="success" disabled>Aderido</button>
                      </div>
                      <div *ngIf="plano.slug !== slugPlano.slug">
                          <button nbButton status="success" (click)="checkoutMercadoPago(i)">Assinar</button>
                      </div>
                    </div>
                  </div>
              </div>
          </p-card>
      </div>
  </div>
</div>
