@media screen and (max-width: 1960px) {

  .card-inicial {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #555;
    float: left;
    height: 55rem;
    justify-content: space-evenly;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555;
  }

  .plano-inicial {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #555;
    padding: 20px 0;
  }

  .card-ouro {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #53BAAA;
    float: left;
    height: 55rem;
    justify-content: space-evenly;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555;
  }

  .plano-ouro {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #53BAAA;
    padding: 20px 0;
  }

  .card-estrela {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #34897B;
    float: left;
    height: 55rem;
    justify-content: space-evenly;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555
  }

  .plano-estrela {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #34897B;
    padding: 20px 0;
  }
}


@media screen and (max-width: 1300px) {

   .card-inicial {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #555;
    height: 55rem;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555
  }

  .plano-inicial {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #555;
    padding: 20px 0;
  }

  .card-ouro {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #53BAAA;
    height: 55rem;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555
  }

  .plano-ouro {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #53BAAA;
    padding: 20px 0;
  }

  .card-estrela {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #34897B;
    height: 55rem;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555
  }

  .plano-estrela {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #34897B;
    padding: 20px 0;
  }

}



.valor-inicial {
  font-weight: 800;
  font-size: 65px;
  padding: 40px 0;
  color: #555;
}

.valor-ouro {
  font-weight: 800;
  font-size: 65px;
  padding: 40px 0;
  color: #53BAAA;
}

.valor-estrela {
  font-weight: 800;
  font-size: 65px;
  padding: 40px 0;
  color: #34897B;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}
.span-texto{
  margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    justify-content: space-evenly;
}

.line {
  width: 100%;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 3px;
  display:inline-block;
}

.cifra {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  font-size: 2.0em;
  margin-right: 3px;
  color: #7A7A7A;
}
