<app-loading></app-loading>
<div *ngIf="!finalizarLoad">
  <div class="text-center">
    <nb-alert status="warning">{{textoCarregando}}</nb-alert>
      <div *ngIf="exibirLoading">
        <br />
        <img height="48" width="48" src="../../../../assets/bantal/images/ajax-loader.gif"/>
        <br />
      </div>
    <b>{{textoAguarde}}</b>
    <br />
    <br />
  </div>
  </div>
  <p-carousel [value]="listaPlanos" [responsiveOptions]="responsiveOptions">
    <ng-template let-plano pTemplate="item">

    
<div *ngIf="finalizarLoad">
<div class="card-row" *ngIf="plano.slug != 'inicial'">
    <div style="width: 100%; display: contents;">
        <p-card class="card-{{plano.slug}}">
            <div class="plano-{{plano.slug}}">
                <div class="text-center">{{plano.nome}}</div>
            </div>
            <div style="background:white;">
                <br/>
                <br/>
                <div class="text-center">
                    <span *ngIf="plano.slug != 'inicial'" class="cifra">{{plano.parcelas}} x </span>
                    <span class="cifra">R$ </span>
                    <span class="valor-{{plano.slug}}">{{obterValorPlano(plano.valor,plano.parcelas)}}</span>
                    <br />
                    <span >Valor R$ {{plano.valor}}</span>
                </div>
                <br/>

                <div *ngIf="plano.slug == 'senior'">
                    <ul class="columns">
                    <br />
                    <li><span class="span-texto"><center><b>VANTAGENS</b></center></span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto"><b>Divulgação ilimitada</b> de vagas por <b>6 meses.</b></span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Currículos informatizados.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto"> Inserção do Linktree na Bio do Instagram da empresa, com o botão “Cadastre-se nas vagas”.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Acesso Banco de Talentos cadastrados, na vaga anunciada.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Chat exclusivo Bantal: envie mensagens e solicite entrevistas.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Habilitação para gerar arquivo em pdf. e fazer downloads dos currículos cadastrados.</span></li>
                    <div class="line"></div>
                    <li><span class="span-texto"><center><b>BÔNUS</b></center></span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Triagem de currículos mais compatíveis com a vaga anunciada.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Suporte na divulgação da vaga com Recrutador expert.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">3 vouchers para aplicação de Teste Psicológico (mapeamento de competências), por Psicólogo(a) responsável.</span></li>
                    <div class="line"></div>
                    <br/>
                    </ul>
                </div>
                <div *ngIf="plano.slug == 'expert'">
                    <ul class="columns">
                    <br />
                    <li><span class="span-texto"><center><b>VANTAGENS</b></center></span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto"><b>Divulgação ilimitada</b> de vagas por <b>12 meses.</b></span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Currículos informatizados.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto"> Inserção do Linktree na Bio do Instagram da empresa, com o botão “Cadastre-se nas vagas”.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Acesso Banco de Talentos cadastrados, na vaga anunciada.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Chat exclusivo Bantal: envie mensagens e solicite entrevistas.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Habilitação para gerar arquivo em pdf. e fazer downloads dos currículos cadastrados.</span></li>
                    <div class="line"></div>
                    <li><span class="span-texto"><center><b>BÔNUS</b></center></span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Triagem de currículos mais compatíveis com a vaga anunciada.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Suporte na divulgação da vaga com Recrutador expert.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">6 vouchers para aplicação de Teste Psicológico (mapeamento de competências), por Psicólogo(a) responsável.</span></li>
                    <div class="line"></div>
                      <br/>
                    </ul>
                </div>
                <div *ngIf="plano.slug == 'one'">
                  <ul class="columns">
                    <br />
                    <li><span class="span-texto"><center><b>VANTAGENS</b></center></span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Divulgação de <b>1 vaga.</b></span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Currículos informatizados.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto"> Inserção do Linktree na Bio do Instagram da empresa, com o botão “Cadastre-se nas vagas”.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Acesso Banco de Talentos cadastrados, na vaga anunciada.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Chat exclusivo Bantal: envie mensagens e solicite entrevistas.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Habilitação para gerar arquivo em pdf. e fazer downloads dos currículos cadastrados.</span></li>
                    <div class="line"></div>
                    <li><span class="span-texto"><center><b>BÔNUS</b></center></span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Triagem de currículos mais compatíveis com a vaga anunciada.</span></li>
                    <div class="line"></div>
                    <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Suporte na divulgação da vaga com Recrutador expert.</span></li>
                    <div class="line"></div>
                    <br/>
                  </ul>
              </div>
              <div *ngIf="plano.slug == 'three'">
                <ul class="columns">
                  <li><span class="span-texto"><center><b>VANTAGENS</b></center></span></li>
                  <div class="line"></div>
                  <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Divulgação de <b>3 vagas.</b></span></li>
                  <div class="line"></div>
                  <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Currículos informatizados.</span></li>
                  <div class="line"></div>
                  <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto"> Inserção do Linktree na Bio do Instagram da empresa, com o botão “Cadastre-se nas vagas”.</span></li>
                  <div class="line"></div>
                  <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Acesso Banco de Talentos cadastrados, na vaga anunciada.</span></li>
                  <div class="line"></div>
                  <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Chat exclusivo Bantal: envie mensagens e solicite entrevistas.</span></li>
                  <div class="line"></div>
                  <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Habilitação para gerar arquivo em pdf. e fazer downloads dos currículos cadastrados.</span></li>
                  <div class="line"></div>
                  <li><span class="span-texto"><center><b>BÔNUS</b></center></span></li>
                  <div class="line"></div>
                  <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Triagem de currículos mais compatíveis com a vaga anunciada.</span></li>
                  <div class="line"></div>
                  <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Suporte na divulgação da vaga com Recrutador expert.</span></li>
                  <div class="line"></div>
                  <br/>
                </ul>
            </div>
            <div *ngIf="plano.slug == 'five'">
              <ul class="columns">
                <br />
                <li><span class="span-texto"><center><b>VANTAGENS</b></center></span></li>
                <div class="line"></div>
                <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Divulgação de <b>5 vagas.</b></span></li>
                <div class="line"></div>
                <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Currículos informatizados.</span></li>
                <div class="line"></div>
                <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto"> Inserção do Linktree na Bio do Instagram da empresa, com o botão “Cadastre-se nas vagas”.</span></li>
                <div class="line"></div>
                <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Acesso Banco de Talentos cadastrados, na vaga anunciada.</span></li>
                <div class="line"></div>
                <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Chat exclusivo Bantal: envie mensagens e solicite entrevistas.</span></li>
                <div class="line"></div>
                <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Habilitação para gerar arquivo em pdf. e fazer downloads dos currículos cadastrados.</span></li>
                <div class="line"></div>
                <li><span class="span-texto"><center><b>BÔNUS</b></center></span></li>
                <div class="line"></div>
                <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Triagem de currículos mais compatíveis com a vaga anunciada.</span></li>
                <div class="line"></div>
                <li><nb-icon  icon="checkmark-circle-2-outline" status="success"></nb-icon><span class="span-texto">Suporte na divulgação da vaga com Recrutador expert.</span></li>
                <div class="line"></div>
                <br/>
              </ul>
          </div>
          </div>
          <br/>          
          <div style="background:white;">
              <div class="text-center">
                <div *ngIf="slugPlano.slug == 'senior' || slugPlano.slug == 'expert' && !renovarPlano">
                  <div *ngIf="plano.slug === slugPlano.slug">
                      <button nbButton status="success" disabled>Assinado</button>
                  </div>
                  <div *ngIf="plano.slug != slugPlano.slug">
                      <button nbButton status="success" disabled>Assinar</button>
                  </div>
                </div>
                <div *ngIf="slugPlano.slug == 'senior' || slugPlano.slug == 'expert' && renovarPlano">
                    <button nbButton status="success" (click)="checkoutMercadoPago(plano)">Renovar</button>
                </div>
                <div *ngIf="slugPlano.slug == 'inicial' && !renovarPlano">
                  <div *ngIf="plano.slug == slugPlano.slug">
                      <button nbButton status="success" disabled>Aderido</button>
                  </div>
                  <div *ngIf="plano.slug != slugPlano.slug">
                      <button nbButton status="success" (click)="checkoutMercadoPago(plano)">Assinar</button>
                  </div>
                </div>
                <div *ngIf="slugPlano.slug == 'inicial' && renovarPlano">
                  <div *ngIf="plano.slug == slugPlano.slug">
                      <button nbButton status="success" disabled>Aderido</button>
                  </div>
                  <div *ngIf="plano.slug != slugPlano.slug">
                      <button nbButton status="success" (click)="checkoutMercadoPago(plano)">Assinar</button>
                  </div>
                </div>
              </div>
          </div>
        </p-card>
    </div>
</div>
</div>
</ng-template>
</p-carousel>