@media screen and (max-width: 1960px) {

  .card-inicial {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #555;
    float: left;
    height: 55rem;
    justify-content: space-evenly;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555;
  }

  .plano-inicial {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #555;
    padding: 20px 0;
  }

  .card-senior {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #53BAAA;
    float: left;
    height: 55rem;
    justify-content: space-evenly;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555;
  }

  .plano-senior {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #53BAAA;
    padding: 20px 0;
  }

  .card-expert {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #34897B;
    float: left;
    height: 55rem;
    justify-content: space-evenly;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555
  }

  .plano-expert {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #34897B;
    padding: 20px 0;
  }

  .card-one {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #ffc403;
    float: left;
    height: 55rem;
    justify-content: space-evenly;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555
  }

  .plano-one {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #ffc403;
    padding: 20px 0;
  }

  .card-three {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #cdd22a;
    float: left;
    height: 55rem;
    justify-content: space-evenly;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555
  }

  .plano-three {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #cdd22a;
    padding: 20px 0;
  }

  .card-five {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #0943ae;
    float: left;
    height: 55rem;
    justify-content: space-evenly;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555
  }

  .plano-five {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #0943ae;
    padding: 20px 0;
  }
}


@media screen and (max-width: 1300px) {

   .card-inicial {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #555;
    height: 55rem;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555
  }

  .plano-inicial {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #555;
    padding: 20px 0;
  }

  .card-senior {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #53BAAA;
    height: 55rem;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555
  }

  .plano-senior {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #53BAAA;
    padding: 20px 0;
  }

  .card-expert {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #34897B;
    height: 55rem;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555
  }

  .plano-expert {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #34897B;
    padding: 20px 0;
  }

  .card-one {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #ffc403;
    height: 55rem;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555
  }

  .plano-one {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #ffc403;
    padding: 20px 0;
  }

  .card-three {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #cdd22a;
    height: 55rem;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555
  }

  .plano-three {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #cdd22a;
    padding: 20px 0;
  }

  .card-five {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #0943ae;
    height: 55rem;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 20px 0px #555
  }

  .plano-five {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #0943ae;
    padding: 20px 0;
  }

}

.valor-inicial {
  font-weight: 800;
  font-size: 65px;
  padding: 40px 0;
  color: #555;
}

.valor-senior {
  font-weight: 800;
  font-size: 65px;
  padding: 40px 0;
  color: #53BAAA;
}

.valor-expert {
  font-weight: 800;
  font-size: 65px;
  padding: 40px 0;
  color: #34897B;
}

.valor-one {
  font-weight: 800;
  font-size: 65px;
  padding: 40px 0;
  color: #ffc403;
}

.valor-three {
  font-weight: 800;
  font-size: 65px;
  padding: 40px 0;
  color: #cdd22a;
}

.valor-five {
  font-weight: 800;
  font-size: 65px;
  padding: 40px 0;
  color: #0943ae;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}
.span-texto{
  margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    justify-content: space-evenly;
}

.line {
  width: 100%;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 3px;
  display:inline-block;
}

.cifra {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  font-size: 2.0em;
  margin-right: 3px;
  color: #7A7A7A;
}

@media screen and (max-width: 425px) {
	.valor-inicial {
	  font-weight: 800;
	  font-size: 50px;
	  padding: 40px 0;
	  color: #555;
	}

	.valor-senior {
	  font-weight: 800;
	  font-size: 50px;
	  padding: 40px 0;
	  color: #53BAAA;
	}

	.valor-expert {
	  font-weight: 800;
	  font-size: 50px;
	  padding: 40px 0;
	  color: #34897B;
	}

	.valor-one {
	  font-weight: 800;
	  font-size: 50px;
	  padding: 40px 0;
	  color: #ffc403;
	}

	.valor-three {
	  font-weight: 800;
	  font-size: 50px;
	  padding: 40px 0;
	  color: #cdd22a;
	}

	.valor-five {
	  font-weight: 800;
	  font-size: 50px;
	  padding: 40px 0;
	  color: #0943ae;
	}
}

@media screen and (max-width: 375px) {
	.valor-inicial {
	  font-weight: 800;
	  font-size: 35px;
	  padding: 40px 0;
	  color: #555;
	}

	.valor-senior {
	  font-weight: 800;
	  font-size: 35px;
	  padding: 40px 0;
	  color: #53BAAA;
	}

	.valor-expert {
	  font-weight: 800;
	  font-size: 35px;
	  padding: 40px 0;
	  color: #34897B;
	}

	.valor-one {
	  font-weight: 800;
	  font-size: 35px;
	  padding: 40px 0;
	  color: #ffc403;
	}

	.valor-three {
	  font-weight: 800;
	  font-size: 35px;
	  padding: 40px 0;
	  color: #cdd22a;
	}

	.valor-five {
	  font-weight: 800;
	  font-size: 35px;
	  padding: 40px 0;
	  color: #0943ae;
	}
}