:host ::ng-deep .ui-inputtext {
  width: 18em;
  padding: auto;
  margin: auto;
  border: aqua;
  text-align: right;
}

.form-control-person {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
}

.treetableDate .ui-widget-content {
  width: 80%; // or in pixel depends how much width you want.
}

.select-nebular-primary {
  border-color: #3366ff;
  color: #8f9bb3;
  background-color: #f7f9fc;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: Open Sans, sans-serif;
  padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;
  height: 2.5rem;
  cursor: pointer;
  color: #000000;
  font-weight: 600;
  font-size: 0.8125rem;
}

.ng-touched, .ng-dirty {
  color: #000000;
  font-weight: 600;
  font-size: 0.8125rem;
}

.select-nebular-option {
  color: #000000;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.avatar {
  margin-top: 1em;
  margin-right: 1em;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.section-heading {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

.drag-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: #E9ECEF;
  padding: 15px;
  border-radius: 5px;
}

.item-list {
  min-height: 60px;
  border-radius: 4px;
  display: block;
}

.item-box {
  padding: 8px 10px;
  border: solid 1px #ccc;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  border-radius: 20px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
