
<nb-card status="primary">
    <nb-card-header style="text-align: center"><b>Selecione os Candidatos abaixo para Gerar os Currículos para o Cargo de </b></nb-card-header>
    <nb-card-header style="text-align: center"><b> {{titulo | uppercase}} </b></nb-card-header>
<nb-card-body>
  <p-table [columns]="cols" [responsive]="true" [value]="dados" [paginator]="true" [rows]="5" selectionMode="single" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="text-align: center">Candidato</th>
            <th style="text-align: center">CPF</th>
            <th style="text-align: center">Conversar com o Candidato</th>
            <th style="text-align: center">Imprimir Currículo</th>
            <th style="text-align: center">Selecionar</th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <!--tr [pSelectableRow]="rowData['idUsuario']"-->
        <tr>
                <td class="alinhar-colunas">
                  <span class="ui-column-title">Candidato<br></span>
                  {{ rowData['candidato'] }}
                </td>
                <td class="alinhar-colunas">
                  <span class="ui-column-title">CPF<br></span>
                  {{formataCPF(rowData['cpf'])}}
                </td>
                <td class="alinhar-colunas">
                  <span class="ui-column-title">Conversar<br></span>
                  <!-- <button class="btn btn-outline-danger btn-sm mr-2 text-center" (click)="criarSala(rowData['cpf'], titulo)"> -->
                  <button style="border: none;" class="btn btn-outline-danger btn-sm mr-2 text-center" (click)="redirecionarPainelMensagensEmpresa(titulo, rowData['idUsuario'])">
                    <nb-actions size="small" class="text-center">
                      <nb-action nbButton #nbAction style="margin-left: -21px;" class="btn btn-outline-primary btn-sm mr-2"
                                  title="{{titulo}}-{{rowData['cpf']}}__{{rowData['idUsuario']}}" class="control-item"
                                  badgePosition="top right"
                                  icon="email-outline"
                                  badgeStatus="primary"></nb-action>
                    </nb-actions>
                  </button>
                </td>
                <td class="alinhar-colunas">
                  <span class="ui-column-title">Imprimir<br></span>
                  <button style="border: none;" class="btn btn-outline-danger btn-sm mr-2" (click)="gerarPDFPorIdUsuario(rowData['idUsuario'])">
                    <nb-icon icon="file-text-outline"></nb-icon>
                  </button>
                </td>
                <td class="alinhar-colunas">
                  <span class="ui-column-title">Selecionar<br></span>
                  <p-checkbox name="groupname" value="{{rowData['idUsuario']}}" [(ngModel)]="selectedValues"></p-checkbox>
                  &nbsp;
                  &nbsp;
                  &nbsp;
                </td>
            </tr>
    </ng-template>
</p-table>
<br/>
<div class="form-group" style="text-align: center">
  <!--button class="btn btn-outline-info btn-sm mr-2">
    <nb-icon icon="message-square-outline"></nb-icon>
    Enviar SMS
  </button-->
    &nbsp;
    <button class="btn btn-outline-danger btn-sm mr-2" (click)="gerarPDF()">
      <nb-icon icon="file-text-outline"></nb-icon>
        Gerar PDF
    </button>
  </div>
</nb-card-body>
</nb-card>
<app-loading></app-loading>
