<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <nb-tabset badgePosition="bottom right" #tabset fullWidth >
      <nb-tab #addTab tabTitle="Adicionar Informações adicionais " tabIcon="person-outline" responsive >
        <div class="row">
          <nb-card-body>
            <form [formGroup]="parentForm">
                <div class="form-group row">
                  <label for="inputFuncao" class="label col-sm-3 col-form-label">Idioma</label>
                  <div class="col-sm-9">
                      <select fullWidth="true" placeholder="Selecionar" name="idioma" id="idioma" formControlName="idioma" class="form-control-person  select-nebular-primary"  status="primary">
                        <option [value]="-1">Selecionar</option>
                        <option *ngFor="let option of options_idiomas" [value]="option.value">{{option.label}}</option>
                      </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputFuncao" class="label col-sm-3 col-form-label">Escrita</label>
                  <div class="col-sm-9">
                    <nb-radio-group name="escrita" id="rdbNivelIdioma"  formControlName="escrita">
                      <nb-radio style="display: inline!important;"
                        *ngFor="let option of options"
                        [value]="option.value">
                        {{ option.label }}
                      </nb-radio>
                    </nb-radio-group>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputFuncao" class="label col-sm-3 col-form-label">Leitura</label>
                  <div class="col-sm-9">
                    <nb-radio-group name="leitura" id="rdbEscritaIdioma"  formControlName="leitura">
                      <nb-radio style="display: inline!important;"
                        *ngFor="let option of options"
                        [value]="option.value">
                        {{ option.label }}
                      </nb-radio>
                    </nb-radio-group>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputFuncao" class="label col-sm-3 col-form-label">Conversação</label>
                  <div class="col-sm-9">
                    <nb-radio-group name="conversacao" id="rdbConversacaoIdioma"  formControlName="conversacao">
                      <nb-radio style="display: inline!important;"
                        *ngFor="let option of options"
                        [value]="option.value">
                        {{ option.label }}
                      </nb-radio>
                    </nb-radio-group>
                  </div>
                </div>
              </form>
              <div class="form-group" style="float: right;">
                <button (click)="adicionar()"
                        class="btn btn-primary btn-lg float-right mt-3">
                  Adicionar
                </button>
              </div>
            </nb-card-body>
        </div>
      </nb-tab>

    <nb-tab responsive *ngFor="let formacao of parentForm.controls.idiomas?.controls; let i=index" tabTitle="Idioma {{i+1}}" tabIcon="person-outline">
        <form [formGroup]="parentForm" >
          <div formArrayName="idiomas" >
            <div class="row" [formGroupName]="i">
              <nb-card-body>
                <div class="form-group row">
                  <label for="inputFuncao" class="label col-sm-3 col-form-label">Idioma</label>
                  <div class="col-sm-9">
                      <select fullWidth="true" placeholder="Selecionar" name="idioma" id="idioma" formControlName="idioma" class="form-control-person  select-nebular-primary"  status="primary">
                        <option [value]="-1">Selecionar</option>
                        <option *ngFor="let option of options_idiomas" [value]="option.value">{{option.label}}</option>
                      </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputFuncao" class="label col-sm-3 col-form-label">Escrita</label>
                  <div class="col-sm-9">
                    <nb-radio-group name="escrita" id="rdbNivelIdioma"  formControlName="escrita">
                      <nb-radio style="display: inline!important;"
                        *ngFor="let option of options"
                        [value]="option.value">
                        {{ option.label }}
                      </nb-radio>
                    </nb-radio-group>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputFuncao" class="label col-sm-3 col-form-label">Leitura</label>
                  <div class="col-sm-9">
                    <nb-radio-group name="leitura" id="rdbNivelLeituraIdioma"  formControlName="leitura">
                      <nb-radio style="display: inline!important;"
                        *ngFor="let option of options"
                        [value]="option.value">
                        {{ option.label }}
                      </nb-radio>
                    </nb-radio-group>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputFuncao" class="label col-sm-3 col-form-label">Conversação</label>
                  <div class="col-sm-9">
                    <nb-radio-group name="conversacao" id="rdbNivelConversacaoIdioma"  formControlName="conversacao">
                      <nb-radio style="display: inline!important;"
                        *ngFor="let option of options"
                        [value]="option.value">
                        {{ option.label }}
                      </nb-radio>
                    </nb-radio-group>
                  </div>
                </div>
              </nb-card-body>
            </div>
          </div>
          <div class="form-group" style="float: right;">
            <button (click)="atualizar(i)"
                    class="btn btn-primary btn-lg float-right mt-3">
              Atualizar
            </button>
            &nbsp;&nbsp;&nbsp;
          </div>

          <div class="form-group" style="float: right;">
            <button (click)="remover(i)"
                    class="btn btn-danger btn-lg float-right mt-3">
              Remover
            </button>
            &nbsp;&nbsp;&nbsp;
          </div>
        </form>
      </nb-tab>
    </nb-tabset>

