/* Estilos da tabela */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-header {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

.table-row:nth-child(even) {
  background-color: #f7f7f7;
}

.table-row td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

/* Estilos para o botão */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Estilos para ícone */
.nb-icon {
  font-size: 2rem;
  color: #ff5858;
}

/* Estilos para o card */
.nb-card {
  border: none;
  margin: 10px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.nb-card-header {
  background: #ffc107;
  font-size: 1.2rem;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  color: #fff;
}

.nb-card-body {
  background: #fff;
  padding: 15px;
}

/* Estilos para o título da tabela */
.table-title {
  text-align: center;
  margin-top: 20px;
}

.table-title h1 {
  font-size: 2rem;
  margin: 0;
  color: #333;
}
.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4caf50; /* Cor de fundo verde */
  color: white; /* Cor do texto */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.custom-button:hover {
  background-color: #45a049; /* Cor de fundo verde mais escura ao passar o mouse */
  transform: scale(1.05); /* Efeito de escala suave ao passar o mouse */
}

.button-icon {
  margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

.button-text {
  font-size: 1rem;
}
