<div class="table-title">
  <h1>Banco de Talentos | Profissões</h1>
</div>
<div>
<button class="btn btn-outline-success btn-sm mr-2" (click)="goBack()">
  <nb-icon class="button-icon" [options]="{ size: '2rem' }" status="success" icon="corner-up-left-outline"></nb-icon>
  <span class="button-text">Voltar para Áreas de Atuação</span>
  </button>
</div>
<div class="p-grid">
  <div *ngFor="let profissao of profissoes" class="p-col-12 p-md-6 p-lg-4">
    <div class="card card-w-title global-sales ui-fluid rounded-extra nb-card">
      <div class="card-header text-center">
        <p>{{ profissao.nome }}</p>
      </div>
      <div class="card-body">
        <div class="card-content text-center">
          <p>Quantidade de Candidatos: {{ profissao.quantidade }}</p>
          <div class="button-container">
            <button class="btn btn-outline-success btn-sm mr-2" [routerLink]="['/banco-talentos/curriculos-por-profissao', profissao.idProfissao]">
              <nb-icon class="nb-icon" [options]="{ size: '2rem' }" status="success" icon="people-outline"></nb-icon>
              <br/> Ver Candidatos
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-outline-success btn-sm mr-2" (click)="goBack()">
  <nb-icon class="button-icon" [options]="{ size: '2rem' }" status="success" icon="corner-up-left-outline"></nb-icon>
  <span class="button-text">Voltar para Áreas de Atuação</span>
  </button>
