:host {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  text-justify: inter-word;
  font-size: 30px;

}

.div-usuario-aviso-plataforma {
  width: 50%; 
  float: left; 
  margin-left: 2rem; 
  margin-right: 2;
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}

.span-check{
  font-size: 62px;
  font-weight: 100px;
  margin-left: 2rem;
}

.span-check-line{
  font-size: 22px;
  font-weight: 800px;
}

.text-nome{
  margin-left: 2rem;
  margin-right: 2rem;
  color: #01ae74;
  font-size: 22px
}

.text{
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 16px
}

.div-plano {
  width: 37%;
  float: left;
  margin-left: 4rem;
}

.card-header-plano {
width: 100%;
float: left;
}

.card-vaga {
color: #01ae74;
font-size: 22px;
font-weight: 800px;
}

ul {
list-style-type: none;

}

li {
  margin: 0 0 3px 0;
}

@media (max-width: 851px) {
  .div-plano {
    width: 100%;
    float: center;
    margin: 0px;
    padding: 20px;
  }

  .div-usuario-aviso-plataforma {
    width: 100%; 
    float: center; 
    margin: 0px;
    padding: 20px;
  }

  .text-nome{
    margin-left: 4px;
    margin-right: 4px;
    color: #01ae74;
    font-size: 22px;
  }
}