
    <app-loading></app-loading>
    <nb-card status="success">
      <painel-expiration-plan></painel-expiration-plan>
      <br />
        <nb-card-header class="text-center" style="display: inline-table; font-size: 20px;">Otimize os Processos de Recrutamento e Seleção da sua empresa, com redução de tempo e custo. Conheça nossos <a [routerLink]="linkPlanos">Planos Especiais.</a></nb-card-header>
      <br />

      <div *ngIf="!possuiVaga">
        <div class="text-center">
          <nb-alert status="warning">{{textoCarregando}}</nb-alert>
          <br />
            <div *ngIf="exibirLoading">
              <br />
              <br />
              <img height="48" width="48" src="../../../../../assets/bantal/images/ajax-loader.gif"/>
            </div>
          <b>{{textoAguarde}}</b>
          <br />
          <br />
        </div>
      </div>
      <div *ngIf="possuiVaga">

        <div style="width: 100%; overflow: hidden;">
          <div style="div-usuario-aviso-plataforma">
            <b class="text-nome">{{nomeUsuario}} - {{nomePlano}}</b>
            <br />
            <br />
            <div *ngIf="slug === 'inicial'">

              <nb-card status="success">
                <nb-card-body>
                  <span class="text">
                    Com a Plataforma B-talent a sua empresa proporciona ao time de RH um trabalho ágil e prático, trazendo para os processos uma ferramenta digital e personalizada, divulgando vagas ativas e também efetuando cadastro reserva para os diversos cargos.
                    Dessa forma, a sua equipe de RH atrai com maior rapidez e qualidade pessoas que desejam ocupar uma posição na sua empresa.
                    Utilizando a Plataforma sua empresa economiza tempo e dinheiro em todos os processos de recrutamento e

              </span>
              </nb-card-body>
            </nb-card>
           </div>

           <div *ngIf="slug === 'ouro'">
            <nb-card status="success">
              <nb-card-body>
                <span class="text">
                  Anuncie vagas ilimitadamente por 6 meses;
                  Acesso a todos os perfis em nosso Banco de Talentos;
                  Divulgação da marca da sua Empresa em nosso site, plataforma e aplicativo, dando ênfase à sua marca Empregadora;
                </span>
              </nb-card-body>
            </nb-card>
          </div>

         <div *ngIf="slug === 'estrela'">
          <nb-card status="success">
            <nb-card-body>
              <span class="text">
                Anuncie vagas ilimitadamente por 1 ano;
                Acesso a todos os perfis em nosso Banco de Talentos;
                Divulgação da marca da sua Empresa em nosso site, plataforma e aplicativo, dando ênfase à sua marca Empregadora;
                Triagem dos currículos por vaga anunciada, quando a empresa desejar
              </span>
            </nb-card-body>
          </nb-card>
        </div>
        <br />

        <nb-card status="success">
          <nb-card-body>
            <span class="text">
              Com a Plataforma B-talent a sua empresa proporciona ao time de RH um trabalho ágil e prático, trazendo para os processos uma ferramenta digital e personalizada, divulgando vagas ativas e também efetuando cadastro reserva para os diversos cargos.
              Dessa forma, a sua equipe de RH atrai com maior rapidez e qualidade pessoas que desejam ocupar uma posição na sua empresa.
              Utilizando a Plataforma sua empresa economiza tempo e dinheiro em todos os processos de recrutamento e seleção.

             <br />
              <br />
              <a [routerLink]="linkPlanos">Quero conhecer</a>
            </span>
          </nb-card-body>
        </nb-card>

        <div *ngIf="slug === 'ouro'">
          <span class="text">
            <b>Para receber currículos por email, e potencializar a divulgação de suas vagas. Conheça nossos planos </b>
          </span>
        </div>

        <div *ngIf="slug === 'ouro'">
          <span class="text">
            <b>Aproveite todos os benefícios de ser OURO. conta com a Bantal para Suporte, 25% off nos processos seletivos e CHAT exclusivo para contato direto com o candidatopor meio de notificação rápida.</b>
          </span>
        </div>

       <div *ngIf="slug === 'estrela'">
        <span class="text">
          <b>Aproveite todos os benefícios de ser ESTRELA. conta com a Bantal para Suporte, 50% off nos processos seletivos e CHAT exclusivo para contato direto com o candidatopor meio de notificação rápida e triagem dos currículos por vaga anunciada.</b>
        </span>
      </div>

      <br />
      </div>

      <div *ngIf="slug === 'inicial'">
        <div class="div-plano">
          <nb-card status="success">
            <nb-card-header style="font-size: 20px;height: 3rem;" class="text-center card-header-plano">Vantagens</nb-card-header>
            <nb-card-body>
              <ul>
                <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Potencialize a divulgação das suas vagas</li>
                <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Trie Currículos com maior praticidade </li>
                <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Crie PDF dos currículos </li>
                <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Possua Banco de talentos digital e saia do modo analógico</li>
              </ul>
            </nb-card-body>
          </nb-card>
        </div>
      </div>

      <div *ngIf="slug === 'ouro'">
        <div class="div-plano">
          <nb-card status="success">
            <nb-card-header style="font-size: 20px;height: 3rem;" class="text-center card-header-plano">Vantagens</nb-card-header>
            <nb-card-body>
              <ul>
                <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Acesso ao nosso chat exclusivo;</li>
                <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Contato direto com os candidatos; </li>
                <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Vagas ativas B-Talent </li>
                <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Suporte para abertura de vagas </li>
                <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> 25 % off, nos processos seletivos conduzidos por nossa equipe de especialistas. </li>
              </ul>
            </nb-card-body>
          </nb-card>
        </div>
      </div>

      <div *ngIf="slug === 'estrela'">
        <div class="div-plano">
          <nb-card status="success">
            <nb-card-header style="font-size: 20px;height: 3rem;" class="text-center card-header-plano">Vantagens</nb-card-header>
            <nb-card-body>
              <ul>
                <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Acesso ao nosso chat exclusivo;</li>
                <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Contato direto com os candidatos; </li>
                <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Vagas ativas B-Talent </li>
                <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Suporte para abertura de vagas </li>
                <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> 50% off, nos processos seletivos conduzidos por nossa equipe de especialistas. </li>
              </ul>
            </nb-card-body>
          </nb-card>
        </div>
      </div>

    </div>

      </div>




</nb-card>
