<meta name="viewport" content="width=device-width, initial-scale=1.0">


    <nb-tabset badgePosition="bottom right" #tabset fullWidth >
      <nb-tab #addTab tabTitle="Adicionar Qualificação" tabIcon="person-outline" responsive >
        <div class="row">
          <nb-card-body>
            <form [formGroup]="parentForm">
                <div class="form-group row">
                  <label for="inputUniversidade" class="label col-sm-3 col-form-label">Universidade</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputUniversidade" placeholder="Universidade"  formControlName="universidade">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputQualificacao" class="label col-sm-3 col-form-label">Qualificações</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputQualificacao" placeholder=""  formControlName="qualificacao">
                    </div>
                  </div>
                  <div class="form-group row">
                      <label for="inputDtInicio" class="label col-sm-3 col-form-label">Data inicio (Mês/Ano)</label>
                      <div class="col-sm-9">
                        <input type="text" nbInput class="form-control-person select-nebular-primary" mask="00/0000" fullWidth id="inputDtInicio" placeholder="Data de Inicio"  formControlName="dataInicio">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputDtFim" class="label col-sm-3 col-form-label">Data Término (Mês/Ano)</label>
                        <div class="col-sm-9">
                          <input type="text" nbInput class="form-control-person select-nebular-primary" mask="00/0000" fullWidth id="inputDtFim" placeholder="Data Fim"  formControlName="dataFim">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputNotas" class="label col-sm-3 col-form-label">Notas(opcional)</label>
                        <div class="col-sm-9">
                            <textarea id="inputNotas" class="form-control-person select-nebular-primary" nbInput placeholder="Message"  formControlName="nota"></textarea>
                        </div>
                      </div>
              </form>
              <div class="form-group" style="float: right;">
                <button (click)="adicionarFormacao()"
                        class="btn btn-primary btn-lg float-right mt-3">
                  Adicionar
                </button>
              </div>
            </nb-card-body>
        </div>
      </nb-tab>

      <nb-tab *ngFor="let formacao of parentForm.controls.formacaoAcademica?.controls; let i=index" tabTitle="Qualificação {{i+1}}" tabIcon="person-outline" responsive >
        <form [formGroup]="parentForm" >
          <div formArrayName="formacaoAcademica" >
            <div class="row" [formGroupName]="i">
              <nb-card-body>
                <div class="form-group row">
                  <label for="inputUniversidade" class="label col-sm-3 col-form-label">Universidade</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputUniversidade" placeholder="Universidade" formControlName="universidade">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputQualificacao" class="label col-sm-3 col-form-label">Qualificações</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputQualificacao" placeholder="" formControlName="qualificacao">
                    </div>
                  </div>
                  <div class="form-group row">
                      <label for="inputDtInicio" class="label col-sm-3 col-form-label">Data inicio (Mês/Ano)</label>
                      <div class="col-sm-9">
                        <input type="text" nbInput class="form-control-person select-nebular-primary" mask="00/0000" fullWidth id="inputDtInicio" placeholder="Data de Inicio" formControlName="dataInicio">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputDtFim" class="label col-sm-3 col-form-label">Data Término (Mês/Ano)</label>
                        <div class="col-sm-9">
                          <input type="text" nbInput class="form-control-person select-nebular-primary" mask="00/0000" fullWidth id="inputDtFim" placeholder="Data Fim" formControlName="dataFim">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputNotas" class="label col-sm-3 col-form-label">Notas(opcional)</label>
                        <div class="col-sm-9">
                            <textarea id="inputNotas" class="form-control-person select-nebular-primary" nbInput placeholder="Message" formControlName="nota"></textarea>
                        </div>
                      </div>
              </nb-card-body>
            </div>
          </div>
          <div class="form-group" style="float: right;">
            <button (click)="atualizarFormacaoAcademica(i)"
                    class="btn btn-primary btn-lg float-right mt-3">
              Atualizar
            </button>
            &nbsp;&nbsp;&nbsp;
          </div>

          <div class="form-group" style="float: right;">
            <button (click)="removeFormacaoAcademica(i)"
                    class="btn btn-danger btn-lg float-right mt-3">
              Remover
            </button>
            &nbsp;&nbsp;&nbsp;
          </div>
        </form>
      </nb-tab>
    </nb-tabset>
