    <nb-card accent="info">
      <nb-accordion>
        <nb-accordion-item>
        <nb-accordion-item-header>{{nomeProcessoSeletivo}} ({{qtdMsgs}})</nb-accordion-item-header>

        <nb-accordion-item-body>
          <form [formGroup]="formDadosMensagem">

            <div *ngIf="!possuiMensagem">
              <div class="text-center">
                <nb-alert status="warning">{{textoCarregando}}</nb-alert>
                  <div *ngIf="exibirLoading">
                    <br />
                    <img height="48" width="48" src="../../../../../assets/bantal/images/ajax-loader.gif"/>
                    <br />
                  </div>
                <b>{{textoAguarde}}</b>
                <br />
                <br />
              </div>
            </div>
            <div *ngIf="possuiMensagem">
              <nb-card accent="" *ngFor="let msg of listaMensagem; let i = index" class="messages__{{msg.tipoMensagem}}">
                <nb-card-header>
                  <div style="display: flex;align-items: center;">
                    <div class="avatar__{{msg.tipoMensagem}} avatar__default">{{msg.nomeAutorMensagem.substring(0, 1)}}</div>
                    <div clss="alinhamento">
                      <div class="nome">{{msg.nomeAutorMensagem}} </div>
                      <div class="data" [innerHTML]="msg.dataMensagem"></div>
                    </div>
                  </div>
                  </nb-card-header>
                  <nb-card-body>
                    <div [innerHTML]="msg.mensagem"></div>
                  </nb-card-body>
              </nb-card>
            </div>
            <br />
            <br />
            <p-editor formControlName="mensagem" [style]="{'height':'320px'}"></p-editor>
            <br />
            <div class="text-center">
              <nb-card-body class="example-items-rows">
                <button nbButton (click)="enviarMensagem(codigoVaga)" style="width: 93%;" status="info">Responder <nb-icon icon="paper-plane"></nb-icon></button>
              </nb-card-body>
            </div>
        </form>
        </nb-accordion-item-body>
        </nb-accordion-item>

      </nb-accordion>
    </nb-card>
