
.avatar__default {
  font-size: 16px;
}

.avatar__2 {
  background-color:rgb(144, 142, 255);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  font-weight: 700;
  width: 3em;
  height: 3em;
}

.avatar__1 {
  background-color:rgb(255, 142, 163);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  font-weight: 700;
  width: 3em;
  height: 3em;
}

.alinhamento {
  font-weight: bold;
  padding-left: 16px;
}

.nome {
  font-size: 16px;
  padding-bottom: 3px;
}

.data {
  color: #504f4f;
  font-size: 12px;
  font-weight: normal;
}

.messages__2 {
  background-color: #f2f2f2;
  border-radius: 3px;
  margin-bottom: 16px;
}

