<div class="card-row">
  <div class="card-col">
    <nb-card status="success">
        <painel-expiration-plan></painel-expiration-plan>
        <br />
        <nb-card-header style="font-size: 20px;" class="text-center"style="height: 3rem;">Potencialize suas chances de ser Contratado.</nb-card-header>
        <br />
        <div style="width: 100%; overflow: hidden;">
          <div class="div-usuario-aviso-plataforma">
            <b class="text-nome">{{nomeUsuario}}</b>
            <br />
            <br />
            <span class="text">
              Na Plataforma B-talent você mantém seu Curriculo Ativo para todas as empresas parceiras da Bantal, acompanha em tempo real todas as vagas disponíveis para o Candidato, e ainda economiza tempo na divulgação do seu Currículo.
            </span>
            <br />
          </div>
          <div class="div-plano">
            <nb-card status="success">
              <nb-card-header style="font-size: 20px;height: 3rem;" class="text-center card-header-plano">Bem-vindo</nb-card-header>
              <nb-card-body>
                <ul class="columns" data-columns="2">
                  <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Atualize seu currículo</li>
                  <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Crie PDF para impressão</li>
                  <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Candidate-se à vagas</li>
                  <li><nb-icon  icon="checkmark-circle-outline" status="success"></nb-icon> Currículo B-Talent</li>
                </ul>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </nb-card>

    </div>

  </div>
