<nb-card accent="info">
  <div *ngIf="!ready">
    <div class="text-center">
        <nb-alert status="warning">Carregando quadro de vagas!</nb-alert>
        <br />
        <div *ngIf="exibirLoading">
          <br />
          <br />
          <img height="48" width="48" src="../../../../../assets/bantal/images/ajax-loader.gif"/>
        </div>
        <b>{{textoAguarde}}</b>
        <br />
        <br />
    </div>
  </div>

  <div *ngIf="ready">
  <p-carousel [value]="vagas" [responsiveOptions]="responsiveOptions">
    <p-header>
        <div class="text-center" style="display: flex;">
          <div style="width: 90%;">
            <h3>Vagas Disponíveis por Empresa</h3>
            <div class="text-center">Clique para acessar todas as vagas de cada empresa</div>
          </div>

          <div style="float:right">
            <a [routerLink]="linkSearch" class="sidebar-toggle" style="float:right;cursor:pointer;">
              <img height="48" width="48" src="../../../../../assets/bantal/images/lupa.png"/>
              <br />
              Procurar Vaga
            </a>
          </div>
        </div>
    </p-header>

      <ng-template let-vaga pTemplate="item" let-i="index" >
            <div class="item-list card-vagas" [nbPopover]="template" [nbPopoverContext]="{ cdVaga: vaga.cdVaga, descricao: vaga.descricao, titulo: vaga.titulo, tipoVaga: vaga.tipoVaga, nomeAreaAtuacao: vaga.nomeAreaAtuacao, localizacao: vaga.localizacao, dataLimite: vaga.dataLimite }" nbPopoverTrigger="hint">

              <div class="item item-1">
                <div class="img"><a href="javascript:;">
                    <div class="like">{{vaga.cdVaga}}</div></a>
                    <div *ngIf="vaga.foto != null" class="text-center">
                      <img #photo class="image-foto foto-painel"[src]="adicionarTag(vaga.foto)">
                  </div>
                  <div *ngIf="vaga.foto == null" class="text-center">
                      <img #photo class="img-content" src="{{semImagem}}">
                  </div>
                </div>
                <div class="social">
                  <a (click)="realizarCandidatura(vaga)">
                    <div *ngIf="vaga.inscrito === false" class="ig">
                      <i nbPopover="Realizar Inscrição"
                                       nbPopoverTrigger="hover"
                                       class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    </div>
                    </a>
                    <a (click)="alertaJaInscrito()">
                    <div *ngIf="vaga.inscrito" class="fb">
                      <i nbPopover="Inscrito"
                                       nbPopoverTrigger="hover"
                                       class="fa fa-edit fa-2x" aria-hidden="true" disabled></i>
                    </div>
                  </a>
                </div>
                <div class="text-container">
                  <span class="top">{{vaga.titulo}}</span>
                  <div class="content">
                  </div>
                  <div class="readmore text-center">
                    <div class="text-left texto">
                      <b>Data Limite:</b> {{vaga.dataLimite}}
                      <br/>
                      <b>Salário Proposto:</b> {{vaga.salario}}
                    </div>
                  </div>
                  </div>
                </div>
              </div>
      </ng-template>
      <ng-template #template let-data>
        <nb-card-header>{{ data.cdVaga }} - {{ data.titulo }}</nb-card-header>
        <nb-card class="popover-card">
          <nb-card-body>
            <br>
            <span>{{ data.nomeAreaAtuacao }} - {{ data.tipoVaga }}</span>
            <br>
            <span>{{ data.localizacao }}</span>
            <br>
            <span>{{ data.dataLimite }}</span>
            <br>
            <br>
            {{ obterString(data.descricao) }}
          </nb-card-body>
        </nb-card>
      </ng-template>
</p-carousel>
</div>
<div class="text-center" *ngIf="exibirNaoHaVagas">
  <b>{{textoAguarde}}</b>
</div>
<br />
</nb-card>
