
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:auto;
    font-family:Arial;
    font-weight: 800;
    font-size: 14px;
  }

  @media (min-width: 768px) {
    .foto-painel {
      background-color: #ffffff;
      box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin: 5px 5px 5px 30px;
      padding: 40px 10px 40px 10px;
      border-radius: 5px 5px 5px 5px;
      width: 90%;
      align-content: center;
      align-items: center;
      justify-content: center;
      display: flex;
      position: relative;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;


    }
  }

  .image-foto {
    width: 50%;
    max-width: 80%;
    vertical-align: middle;
    display: inline-block;
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    transition: 0.2s;
  }

  body {
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    letter-spacing: 0.03em;
  }

  a {
    text-decoration: none;
  }

  i {
    letter-spacing: 0;
  }

  .scroll {
    overflow: scroll !important;
  }

  .item {
    width: 20em;
    height: 25em; 
    text-align: center;
    background: #fff;
    position: relative;
    box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-style: solid;
    border-radius: 10px;
    margin: auto;/*20px 20px 20px 20px;*/
    border-width: 3px 0px 0px 0px;
    border-color: #00d68f;
    justify-content: center;
  }
  .item .img {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    display: grid;
  }
  .item .img-content {
    width: 100%;
    height: 100%;
    transition: 0 !important;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
  .item.showfull .text-container {
    height: 90%;
  }
  .item.showfull .content {
    height: 78%;
  }
  .item.showfull .social {
    top: 25px;
  }
  .item.showfull .img-content {
    transform: scale(1.04);
    filter: blur(5px);
  }
  .item.showfull .like {
    margin-top: 100px;
  }
  .item .text-container {
    width: 100%;
    height: 45%;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    border-style: solid;
    box-shadow: -3px -10px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    border-width: 1px;
    border-color: #00d68f;
  }
  .item .content {
    height: 63%;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .item .social {
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 15;
    top: 48%;
    display: flex;
    justify-content: flex-end;
  }
  .item h2 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .item .social div {
    width: 50px;
    height: 50px;
    background: green;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .item .social div:hover {
    transform: scale(1.1);
  }
  .item .social a:last-child {
    margin-right: 20px;
  }
  .item a .tw {
    background-color: #0084b4;
  }
  .item a .fb {
    background-color: #00d68f;
  }
  .item a .ig {
    background-color: #cd486b;
  }
  .item a .inscrito {
    background-color: #b8b3b4;
  }
  .isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
  .item .like {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #a37f7f;
    border-radius: 50%;
    color: #fff;
    right: 30px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .item .like:hover {
    transform: scale(1.1);
  }
  .item .like i {
    font-size: 15px;
  }
  .item .like.clicked {
    background: #ffcece;
  }
  .item .like.clicked i {
    color: #e60026;
  }
  .item .readmore {
    display: flex;
    padding-bottom: 5px;
  }
  .item .readmore h3 {
    display: block;
    padding: 10px 15px;
    border-radius: 40px;
    border: 1px solid;
    cursor: pointer;
    font-size: 10px;
    margin-bottom: 5px;
  }

  @media (max-width: 435px) {
    .item {
      width: 20em;
      height: 35em;
      text-align: center;
      background: #fff;
      position: relative;
      box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      border-style: solid;
      border-radius: 10px;
      margin: 20px 20px 20px 20px;
      border-width: 3px 0px 0px 0px;
      border-color: #00d68f;
      justify-content: center;
    }
  }

  @media (max-width: 410px) {
    .item {
      width: 16em;
      height: 35em;
      text-align: center;
      background: #fff;
      position: relative;
      box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      border-style: solid;
      border-radius: 10px;
      margin: 20px 20px 20px 20px;
      border-width: 3px 0px 0px 0px;
      border-color: #00d68f;
      justify-content: center;
    }
  }

  @media (max-width: 380px) {
    .item {
      width: 15em;
      height: 35em;
      text-align: center;
      background: #fff;
      position: relative;
      box-shadow: -15px 7px 30px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      border-style: solid;
      border-radius: 10px;
      margin: 20px 20px 20px 20px;
      border-width: 3px 0px 0px 0px;
      border-color: #00d68f;
      justify-content: center;
    }
  }

