<div style="text-align: center"><h3> CARGOS DISPONÍVEIS </h3></div> 

<div class="row">
    <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
      <ngx-status-card [title]="statusCard.title" [type]="statusCard.type">
        <i [ngClass]="statusCard.iconClass"></i>
      </ngx-status-card>
    </div>
  </div>