
<form [formGroup]="resourceForm"  (submit)="submit(resourceForm)"  aria-labelledby="title">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 img-psirh"></div>
      <div class="col-md-8 col-lg-6">
        <div class="">

              <div class="col-md-9 col-lg-8 mx-auto">
                <nb-layout>
                  <nb-layout-column style="background: white;padding-top: 10rem;padding-bottom: 5rem">
                    <div class="d-flex align-items-center flex-column">
                      <div><img src="https://bantal.com.br/wp-content/uploads/2019/07/bantal-logo-cor_.png"></div>
                    </div>
                      <h3 class="login-heading mb-4"><b>  </b></h3>
                      <br/>
                      <nb-alert *ngIf="showMessages?.error && errors?.length && !submitted" role="alert" style= "margin-top: -3rem;" outline="danger">
                          {{showMessages?.error}}
                      </nb-alert>
                        <div class="form-control-group">
                            <div class="row">
                              <div class="col-lg-12">
                                <span class="ui-float-label">
                                    <input formControlName="identifier" maxlength="18" name="email" id="float-input" shape="round" type="text" pInputText style=" width: 100%;max-width: 500px;box-sizing: border-box; height:32px; border-radius:15px; border: 1px #1A4072 solid;background: #eee;" numbersOnly>
                                    <label for="float-input">&nbsp;&nbsp; CPF / CNPJ </label>
                                </span>
                              </div>
                            </div>

                              <br />
                              <div class="row">
                                <div class="col-lg-12">
                                  <span class="ui-float-label">
                                      <input name="senha" formControlName="password" (keyup)=onKeyUpEvent($event) id="float-input-senha" shape="round" type="password" pInputText style=" width: 100%;max-width: 500px;box-sizing: border-box; height:32px; border-radius:15px; border: 1px #1A4072 solid;background: #eee;">
                                      <label for="float-input-senha">&nbsp;&nbsp;  Senha</label>
                                  </span>
                                  <br />
                                  <div class="message text-center"></div>
                                </div>
                              </div>
                            <br />
                              <button type="submit" nbButton shape="semi-round" style="background-color: #1A4072;border-color: #1A4072;" class="form-control input-lg" status="info"> Acessar </button>
                            <br/>
                            <br/>   
                            <div class="alinhamento-links-login">
                              <div><a href="https://bantal.com.br/minha-conta/lost-password">Esqueceu a senha?</a></div>
                              <div><a href="https://bantal.com.br/cadastro/" target="_blank" >Cadastre-se aqui</a></div>
                          </div>
                        </div>
                        </nb-layout-column>
                  </nb-layout>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loading></app-loading>
</form>

