/**
 * @license
 * Copyright Akveo. All Rights Reserved.
 * Licensed under the MIT License. See License.txt in the project root for license information.
*/

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.alinhamento-links-login {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
  text-align: center;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

:host {
  display: block;
  width: 100%;

  ::ng-deep {
    form {
      width: 100%;
    }

    .label {
      display: block;
      margin-bottom: 0.5rem;
    }

    .forgot-password {
      text-decoration: none;
      margin-bottom: 0.5rem;
    }

    .caption {
      margin-top: 0.5rem;
    }

    .alert {
      text-align: center;
    }

    .title {
      margin-top: 0;
      margin-bottom: 0.75rem;
      text-align: center;
    }

    .sub-title {
      margin-bottom: 2rem;
      text-align: center;
    }

    .form-control-group {
      margin-bottom: 2rem;
    }

    .form-control-group.accept-group {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;
    }

    .label-with-link {
      display: flex;
      justify-content: space-between;
    }

    .links {
      text-align: center;
      margin-top: 1.75rem;

      .socials {
        margin-top: 1.5rem;
      }

      .socials a {
        margin: 0 1rem;
        text-decoration: none;
        vertical-align: middle;

        &.with-icon {
          font-size: 2rem;
        }
      }
    }

    .another-action {
      margin-top: 2rem;
      text-align: center;
    }

    .sign-in-or-up {
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
    }

    nb-alert {
      .alert-title,
      .alert-message {
        margin: 0 0 0.5rem;
      }
      .alert-message-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
    }
  }

  @media only screen and (max-device-width: 600px) {
      .col-left, .col-info {
        display: none;
      }
      .m-top {
          margin-top: 3rem !important;
      }
      .p-top {
          padding-top: 3rem !important;
      }
  }

  .img-psirh{
    background: url(https://bantal.com.br/wp-content/uploads/2023/06/bantal-login-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: 100vh;
  }

  @media (max-width: 320px){
    .container{
      width: 100%;
      flex-direction: column;
      padding: 0;
      margin: 0;
      }
    .login{
      width: 70%;
      margin: 0;
      padding: 0;
      align-content: center;
      align-items: center;
    }

    .img-psirh{
      width: 100%;
      height: 40vh;
    }
  }
  a{text-decoration: none;}

		.tela{width: 100vw;}

		.container{
			width: 90%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			align-content: center;
		}

		.login{
			width: 30%;
			padding: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.logo{
			background: url(https://i.ibb.co/q1NzNNZ/logo-psirh.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 200px;
			width: 100%;
			height: 100px;
		}

		.email{
			width: 100%;
			margin: 5px;
			border-radius: 20px;
			padding: 10px 20px;
			border: 1px #1A4072 solid;
			background: #eee;
		}

		.senha{
			width: 100%;
			margin: 5px;
			border-radius: 20px;
			padding: 10px 20px;
			border: 1px #1A4072 solid;
			background: #eee;
		}

		.btn-acessar{
			width: 100%;
			margin: 5px;
			border-radius: 20px;
			padding: 10px 20px;
			border:none;
			background: #1A4072;
			color: white!important;
			font-weight: 700;
			text-align: center;
		}

		button{
			border:none;
			text-decoration: none;
			background: unset;
			color: white;
			font-weight: 700;
		}

		.senha-recuperar{
			padding: 0px 10px;
    }

    .status-info {
      background-color: #1A4072;
      border-color: #1A4072;
    }
    .message {
      color: red;
			font-weight: 700;
    }
}
