  <app-loading></app-loading>
  <nb-card accent="info">
    <div *ngIf="!ready">
      <div class="text-center">
          <nb-alert status="warning">Carregando informações do currículo!</nb-alert>
          <br />
            <img height="48" width="48" src="../../../../../assets/bantal/images/ajax-loader.gif"/>
          <br />
          <br />
          <b>Aguarde !</b>
          <br />
          <br />
      </div>
    </div>
    <div *ngIf="ready">

      <nb-card-header class="text-center" style="display: flex;">
        <div class="top" style="width: 80%;">
          MEU CURRÍCULO
        </div>
        <div style="float:right">
          <a (click)="gerarMeuCurriculo()" style="float:right;cursor:pointer;">
            <img height="48" width="48" src="../../../../assets/bantal/images/pdf.svg"/>
            <br />
            Visualizar/ Imprimir
          </a>
        </div>

    </nb-card-header>
  <nb-card-body>
    <form [formGroup]="formDadosPessoais">
    <div class="text-center">
        <app-image-upload [parentForm]="formDadosPessoais"></app-image-upload>
    </div>
    <div class="text-center">
        <h3>{{dadosCurriculo.nome}}</h3>
    </div>
    <br/>
    <p-panel>
      <p-header>
        <p-panel>
            <p-header>
                <div class="ui-helper-clearfix">
                    <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Apresentação</span>
                </div>
            </p-header>
            <textarea id="textApresentacao" nbInput fullWidth fieldSize="large" class="textarea-primary" placeholder="Apresentação" formControlName="apresentacao"></textarea>
        </p-panel>
        <p-panel>
            <p-header>
                <div class="ui-helper-clearfix">
                    <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Objetivo Profissional</span>
                </div>
            </p-header>
            <textarea id="textApresentacao" nbInput fullWidth fieldSize="large" class="textarea-primary" placeholder="Objetivo Profissional" formControlName="objetivoProfissional"></textarea>
        </p-panel>
        <div class="form-group" style="float: right;">
          <button (click)="atualizarPanelPrincipal()"
                  class="btn btn-primary btn-lg float-right mt-3">
            Salvar
          </button>
        </div>
        </p-header>
      </p-panel>
    </form>
    <br/>
    
    
    <nb-card-body>
      <div class="text-center">
        <h5>
          <nb-icon icon="person-outline"></nb-icon>
          Informações do Candidato
        </h5>
      </div>
      <br/>
          <nb-accordion class="card-accordion-primary">
            <nb-accordion-item>
            <nb-accordion-item-header *ngIf="hasDadosPessoais"> &nbsp;<i style="font-size:24px;color:green" class="fa fa-check-circle"></i> &nbsp;&nbsp; Dados Pessoais</nb-accordion-item-header>
            <nb-accordion-item-header *ngIf="!hasDadosPessoais">&nbsp;<i style="font-size:24px;color:red" class="fa fa-times"></i>&nbsp;&nbsp; Dados Pessoais</nb-accordion-item-header>
            <nb-accordion-item-body>
              <app-dados-pessoais [parentForm]="formDadosPessoais" (ngSubmit)="onDadosPessoaisSubmit($event)"></app-dados-pessoais>
            </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
          <br />
          <br />
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header *ngIf="hasDadosFormacao"> &nbsp;<i style="font-size:24px;color:green" class="fa fa-check-circle"></i> &nbsp;&nbsp; Qualificações </nb-accordion-item-header>
            <nb-accordion-item-header *ngIf="!hasDadosFormacao"> &nbsp;<i style="font-size:24px;color:red" class="fa fa-times"></i>&nbsp;&nbsp; Qualificações</nb-accordion-item-header>
            <nb-accordion-item-body>
              <app-informacoes-formacao [parentForm]="formDadosFormacao" (ngSubmit)="onSubmitFormacao($event)"></app-informacoes-formacao>
            </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
          <br />
          <br />
          <nb-accordion #nbAccordionInformatica>
            <nb-accordion-item>
              <nb-accordion-item-header *ngIf="hasDadosInformatica"> &nbsp;<i style="font-size:24px;color:green" class="fa fa-check-circle"></i>&nbsp;&nbsp; Informática</nb-accordion-item-header>
            <nb-accordion-item-header *ngIf="!hasDadosInformatica"> &nbsp;<i style="font-size:24px;color:red" class="fa fa-times"></i>&nbsp;&nbsp; Informática</nb-accordion-item-header>
            <nb-accordion-item-body>
              <app-informacoes-informatica [parentForm]="formDadosInformatica" (ngSubmit)="onSubmitInformatica($event)"></app-informacoes-informatica>
            </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
          <br />
          <br />
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header *ngIf="hasDadosExperiencia">&nbsp;<i style="font-size:24px;color:green" class="fa fa-check-circle"></i>&nbsp;&nbsp; Experiência Profissional</nb-accordion-item-header>
            <nb-accordion-item-header *ngIf="!hasDadosExperiencia">&nbsp;<i style="font-size:24px;color:red" class="fa fa-times"></i>&nbsp;&nbsp; Experiência Profissional</nb-accordion-item-header>
            <nb-accordion-item-body>
              <app-informacoes-experiencia [parentForm]="formDadosExperiencia" (ngSubmit)="onSubmitExperienciaProfissional($event)"></app-informacoes-experiencia>
            </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
          <br />
          <br />
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header *ngIf="hasDadosCargo"> &nbsp;<i style="font-size:24px;color:green" class="fa fa-check-circle"></i>&nbsp;&nbsp; Informações sobre a Área de atuação</nb-accordion-item-header>
            <nb-accordion-item-header *ngIf="!hasDadosCargo">&nbsp;<i style="font-size:24px;color:red" class="fa fa-times"></i>&nbsp;&nbsp; Informações sobre a Área de atuação</nb-accordion-item-header>
            <nb-accordion-item-body>
              <app-informacoes-cargo [parentForm]="formDadosCargo" (ngSubmit)="onSubmitCargoPreterido($event)"></app-informacoes-cargo>
            </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
          <br />
          <br />
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header *ngIf="hasDadosIdiomas">&nbsp;<i style="font-size:24px;color:green" class="fa fa-check-circle"></i>&nbsp;&nbsp; Informações Adicionais</nb-accordion-item-header>
            <nb-accordion-item-header *ngIf="!hasDadosIdiomas">&nbsp;<i style="font-size:24px;color:red" class="fa fa-times"></i>&nbsp;&nbsp; Informações Adicionais</nb-accordion-item-header>
            <nb-accordion-item-body>
              <app-informacoes-adicionais [parentForm]="formDadosIdiomas" (ngSubmit)="onSubmitInformacoes($event)"></app-informacoes-adicionais>
            </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
    </nb-card-body>
</nb-card-body>
</div>
