@import '../../../@theme/styles/themes';

@include nb-install-component() {

  nb-accordion {
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    color: #333333;
    padding: 0.571em 1em;
  }
}

.textarea-primary {
  border-color: #3366ff;
  //color: #8f9bb3;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin:auto;
  font-family:Arial;
  padding-left: 5em;
  font-weight: 800;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 21px;
}
