$primaryDarkestColor:#462816;
$primaryDarkerColor:#5C3924;
$primaryColor:#97664A;
$primaryLighterColor:#B38266;
$primaryLightestColor:#D2A287;
$primaryColorText:#ffffff;

@import '../sass/theme/_theme_variables';
@import '../sass/theme_core/_core';