$primaryDarkestColor:#12432B;
$primaryDarkerColor:#1E6140;
$primaryColor:#4EA279;
$primaryLighterColor:#67B790;
$primaryLightestColor:#85CFAB;
$primaryColorText:#ffffff;

@import '../sass/theme/_theme_variables';
@import '../sass/theme_core/_core';