$primaryDarkestColor:#424900;
$primaryDarkerColor:#677200;
$primaryColor:#A5B600;
$primaryLighterColor:#C0D300;
$primaryLightestColor:#D7E73F;
$primaryColorText:#ffffff;

@import '../sass/theme/_theme_variables';
@import '../sass/theme_core/_core';