$primaryDarkestColor:#094D2C;
$primaryDarkerColor:#0E6E40;
$primaryColor:#10B163;
$primaryLighterColor:#34CE83;
$primaryLightestColor:#62E0A2;
$primaryColorText:#ffffff;

@import '../sass/theme/_theme_variables';
@import '../sass/theme_core/_core';