$primaryDarkestColor:#490F8D;
$primaryDarkerColor:#651DB9;
$primaryColor:#9643F9;
$primaryLighterColor:#A96CF2;
$primaryLightestColor:#BD8CF8;
$primaryColorText:#ffffff;

@import '../sass/theme/_theme_variables';
@import '../sass/theme_core/_core';