$primaryDarkestColor:#5C0F6F;
$primaryDarkerColor:#781B8E;
$primaryColor:#B944D6;
$primaryLighterColor:#CC64E6;
$primaryLightestColor:#DB90EE;
$primaryColorText:#ffffff;

@import '../sass/theme/_theme_variables';
@import '../sass/theme_core/_core';