$primaryDarkestColor:#531818;
$primaryDarkerColor:#782828;
$primaryColor:#AB5353;
$primaryLighterColor:#C76C6C;
$primaryLightestColor:#E18484;
$primaryColorText:#ffffff;

@import '../sass/theme/_theme_variables';
@import '../sass/theme_core/_core';