$primaryDarkestColor:#1F434F;
$primaryDarkerColor:#2C5462;
$primaryColor:#578697;
$primaryLighterColor:#719BAA;
$primaryLightestColor:#89B1BF;
$primaryColorText:#ffffff;

@import '../sass/theme/_theme_variables';
@import '../sass/theme_core/_core';