$primaryDarkestColor:#2D1E81;
$primaryDarkerColor:#422FAE;
$primaryColor:#6952EC;
$primaryLighterColor:#7D6AEA;
$primaryLightestColor:#9D8FEE;
$primaryColorText:#ffffff;

@import '../sass/theme/_theme_variables';
@import '../sass/theme_core/_core';