$primaryDarkestColor:#024f9e;
$primaryDarkerColor:#0772b3;
$primaryColor:#0f97c7;
$primaryLighterColor:#1cb9d7;
$primaryLightestColor:#2ed7e4;
$primaryColorText:#ffffff;

@import '../sass/theme/_theme_variables';
@import '../sass/theme_core/_core';