$primaryDarkestColor:#044A4E;
$primaryDarkerColor:#076E74;
$primaryColor:#1BA7AF;
$primaryLighterColor:#40C1C8;
$primaryLightestColor:#6DD5DB;
$primaryColorText:#ffffff;

@import '../sass/theme/_theme_variables';
@import '../sass/theme_core/_core';