$primaryDarkestColor:#741E03;
$primaryDarkerColor:#B43912;
$primaryColor:#F96F43;
$primaryLighterColor:#FA8B67;
$primaryLightestColor:#FDA78B;
$primaryColorText:#ffffff;

@import '../sass/theme/_theme_variables';
@import '../sass/theme_core/_core';