$primaryDarkestColor:#703A00;
$primaryDarkerColor:#A65700;
$primaryColor:#E2841A;
$primaryLighterColor:#EB9A40;
$primaryLightestColor:#F5B064;
$primaryColorText:#ffffff;

@import '../sass/theme/_theme_variables';
@import '../sass/theme_core/_core';