$primaryDarkestColor:#6E072A;
$primaryDarkerColor:#9B1B47;
$primaryColor:#E93A76;
$primaryLighterColor:#EE6493;
$primaryLightestColor:#F193B3;
$primaryColorText:#ffffff;

@import '../sass/theme/_theme_variables';
@import '../sass/theme_core/_core';