<div class="row mb-4">
  <div class="col-md-9">
    <span class="h2 border-left pl-2">
      {{pageTitle}}
    </span>
  </div>
  <div *ngIf="showButton" class="col-md-3 text-right">
    <a [routerLink]="buttonLink" class="btn" [ngClass]="buttonClass">
      {{buttonText}}
    </a>
  </div>
</div>