
@media screen and (max-width: 1560px) {

  nb-card.card-vagas {
    margin-left: 10px;
    margin-top: 10px;
    height: 29em;
  }
  .ui-carousel-items-container {
    width: 70em;
  }
}

@media screen and (max-width: 2060px) {

  nb-card.card-vagas {
    max-width: 1200px;
    height: 29em;
  }
  .ui-carousel-items-container {
    width: 100em;
  }
}

@media screen and (max-width: 1300px) {

  nb-card.card-vagas {
    max-width: 1200px;
    height: 29em;
  }
  .ui-carousel-items-container {
    width: 100em;
  }
}

nb-card.card-my-vagas {
  max-width: 1200px;
  height: 29em;
}

.ui-carousel-items-container {
  width: 70em;
}

.ui-carousel-items-container .ui-carousel-item {
  overflow: unset;
}


