<div class="row">           
        <nb-card-body>
            <form>
                <div class="form-group row">
                <label class="col-sm-3 label">Formação</label>
                <div class="col-sm-9">
                  <nb-radio-group>
                    <nb-radio>Ensino Fundamental</nb-radio>
                    <nb-radio>Ensino Médio</nb-radio>
                    <nb-radio >Ensino Superior</nb-radio>
                  </nb-radio-group>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputUniversidade" class="label col-sm-3 col-form-label">Universidade</label>
                <div class="col-sm-9">
                  <input type="text" nbInput fullWidth id="inputUniversidade" placeholder="Universidade Tiradentes">
                </div>
              </div>
              <div class="form-group row">
                  <label for="inputQualificacao" class="label col-sm-3 col-form-label">Qualificações</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput fullWidth id="inputQualificacao" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputDtInicio" class="label col-sm-3 col-form-label">Data inicio</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput fullWidth id="inputDtInicio" placeholder="20/11/2009">
                    </div>
                  </div>
                  <div class="form-group row">
                      <label for="inputDtFim" class="label col-sm-3 col-form-label">Data Término</label>
                      <div class="col-sm-9">
                        <input type="text" nbInput fullWidth id="inputDtFim" placeholder="20/11/2013">
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="inputNotas" class="label col-sm-3 col-form-label">Notas(opcional)</label>
                      <div class="col-sm-9">
                          <textarea id="inputNotas" nbInput placeholder="Message"></textarea>
                      </div>
                    </div>
            </form>
          </nb-card-body>
</div>