
<nb-card-body>
    <div *ngIf="!possuiVaga">
      <div class="text-center">
        <nb-alert status="warning">{{textoCarregando}}</nb-alert>
          <div *ngIf="exibirLoading">
            <br />
            <img height="48" width="48" src="../../../../../assets/bantal/images/ajax-loader.gif"/>
            <br />
          </div>
        <b>{{textoAguarde}}</b>
        <br />
        <br />
      </div>
    </div>
    <div *ngIf="possuiVaga">
        <p-table [columns]="cols" [responsive]="true" [value]="dados.vagas" [paginator]="true" [rows]="5">
          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th style="text-align: center" *ngFor="let col of columns">
                    {{col.header}}
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData >
                  <tr>

                      <td [popover]="popDetalhesVaga" class="alinhar-colunas">
                        <span class="ui-column-title">Nome da vaga</span>  
                        {{ rowData['id'] }} - {{ rowData['titulo'] }}

                        <popover-content #popDetalhesVaga
                            title="{{ rowData['id'] }} - {{ rowData['titulo'] }}"
                            [closeOnClickOutside]="true">
                            {{ rowData['areaAtuacaoModel'].name }} - {{ rowData['tipoVagaModel'].nome }}
                            <br>
                            {{ rowData['localizacao'] }}
                            <br>
                            {{ rowData['dataLimite'] }}
                            <br>
                            <br>
                            {{obterString(rowData['descricao'])}}
                        </popover-content>

                      </td>
                    
                      <td class="alinhar-colunas" >
                        <span class="ui-column-title">Inscritos</span>
                        {{ rowData['listCandidatoInscrito'].length }}
                      </td>
                    
                      <td class="alinhar-colunas" >
                        <span class="ui-column-title">Mensagens dos Candidatos</span>
                        {{ rowData['mensagens'].length }}
                      </td>
                    
                      <td class="alinhar-colunas" >
                        <span class="ui-column-title">Visualizar Candidatos</span>
                        <button style="border: none; background: white;" (click)="selecionarCandidatos(rowData['listCandidatoInscrito'], rowData['titulo'], rowData['id'])">
                          <nb-icon [options]="{ size: '15rem' }" status="success" icon="people-outline" ></nb-icon>
                        </button>
                      </td>
                    
                      <td *ngIf="rowData['status'] == 'expired'" class="alinhar-colunas" >
                        <span class="ui-column-title">Situação da Vaga</span>
                        <nb-icon size="large" status="danger" icon="alert-triangle-outline"></nb-icon>
                        <br/>Expirado
                      </td>
                      <td *ngIf="rowData['status'] == 'new'" class="alinhar-colunas">
                        <span class="ui-column-title">Situação da Vaga</span>
                        <nb-icon size="large" status="danger" icon="alert-triangle-outline"></nb-icon>
                        <br/>Aguardando aprovação
                      </td>
                      <td *ngIf="rowData['status'] == 'approved'" class="alinhar-colunas">
                        <span class="ui-column-title">Situação da Vaga</span>
                        <nb-icon [options]="{ size: '20rem' }" status="success" icon="checkmark-circle-2-outline"></nb-icon>
                        <br/> Publicado
                      </td>
                      <td *ngIf="rowData['status'] == 'excluded'" class="alinhar-colunas">
                        <span class="ui-column-title">Situação da Vaga</span>
                        <nb-icon [options]="{ size: '20rem' }" status="danger" icon="close-circle-outline"></nb-icon>
                        <br/> Rejeitado
                      </td>

                    <td class="alinhar-colunas" >
                      <span class="ui-column-title">Opções</span>
                      <button style="border: none" nbTooltip="Alterar Vaga" nbTooltipStatus="danger" class="btn btn-outline-danger" (click)="exibirDadosVaga(rowData['titulo'], rowData['id'])">
                        <nb-icon [options]="{ size: '15rem' }" icon="edit-outline" ></nb-icon>
                      </button>
                    </td>

                  </tr>
          </ng-template>
      </p-table>

    </div>
  </nb-card-body>
