<app-loading></app-loading>
<nb-card accent="info" class="vagas-abertas">
  <form [formGroup]="formDadosTipoVaga">
      <nb-card-header class="text-center">
          <nb-actions size="small">
            <nb-action  class="control-item"
                        badgePosition="top right"
                        icon="home-outline"
                        badgeStatus="danger"></nb-action>
          <nb-action class="texto">
            <h2>Configurações dos Tipos de Vagas</h2>
          </nb-action>
          </nb-actions>
      </nb-card-header>

      <nb-card accent="info" class="vagas-abertas">
        <br />
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="float-left">
                  <label for="titulo">Tipo da Vaga</label>
                  <input type="text" class="form-control form-control-person select-nebular-primary" id="tipoVaga" formControlName="nome">
                  <button
                    (click)="incluirTipoVaga()"
                    class="btn btn-primary btn-lg float-right mt-3">
                    Incluir
                  </button>
              </div>
            </div>
          </div>
        </div>
        <br />
        <app-vagas-admin></app-vagas-admin>
        </nb-card>
    </form>
</nb-card>
