<div *ngIf="exibirInformacao">
  <div class="text-center">
    <nb-alert style="height: 3em;" status="warning">{{textoCarregando}}</nb-alert>
      <div style="font-size: 20px;height: 1em;">
        {{textoAguarde}}
      </div>
  </div>
  </div>
