
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination d-flex justify-content-center">
        <!--li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
            <a (click)="setPage(1)" class="page-link">First</a>
        </li-->
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
        <button nbButton (click)="setPage(pager.currentPage - 1)" class="page-link">Voltar</button>
    </li>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
        <button nbButton (click)="setPage(pager.currentPage + 1)" class="page-link">Proxima</button>
    </li>
    <!--li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
        <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
    </li-->
    </ul>`
