<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">
      <img style="width:9rem" src="https://bantal.com.br/wp-content/uploads/2019/07/bantal-logo-cor_.png">
    </a>
  </div>

  <!--
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>

    <ngx-layout-direction-switcher class="direction-switcher"></ngx-layout-direction-switcher>
  -->
</div>

<div class="header-container">
  <nb-actions size="small">
    <!--
      <nb-action class="control-item">
        <nb-search type="rotate-layout"></nb-search>
      </nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item"
                badgeText="1"
                badgePosition="top right"
                icon="bell-outline"
                badgeStatus="danger"></nb-action>
  -->

      <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
          <nb-user *ngIf="!hasCarregado" [nbContextMenu]="userMenu"
          [onlyPicture]="userPictureOnly"
          [name]="displayNameCarregando"
          [picture]="imgCarregando">
        </nb-user>

        <nb-user *ngIf="hasCarregado" [nbContextMenu]="userMenu"
          [onlyPicture]="userPictureOnly"
          [name]="user?.displayName"
          [picture]="imagemPerfil">
        </nb-user>

      </nb-action>

  </nb-actions>
</div>
