:host ::ng-deep .ui-inputtext {
    width: 18em;
    padding: auto;
    margin: auto;
    border: aqua;
    text-align: right;
    font-weight: 600;
  }
  
  .form-control-person {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    font-weight: 600;
  }
  
  .treetableDate .ui-widget-content {
    width: 80%; // or in pixel depends how much width you want.
  }
  
  .select-nebular-primary {
    border-color: #3366ff;
    //color: #8f9bb3;
    background-color: #f7f9fc;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    font-weight: 600;
    font-family: Open Sans, sans-serif;
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;
    height: 2.5rem;
    cursor: pointer;
  }

  .textarea-primary {
    border-color: #3366ff;
    //color: #8f9bb3;
  }
  
  .ng-touched, .ng-dirty {
    color: #000000;
    font-weight: 600;
    font-size: 0.8125rem;
    font-weight: 600;
  }
  
  .select-nebular-option {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    font-weight: 600;
  }
  
  :host {

    display: block;
    box-sizing: border-box;
  }
  
  pre {
  
    text-align: center;
    padding: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .mat-list-item {
  
    margin: 2px;
    border: 1px solid gray;
  }

::ng-deep .ui-buttonset:not(.ui-splitbutton) .ui-button {
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
  border-top: solid #000000 .07em;
  border-left: solid #000000 .07em;
  border-right: solid #000000 .07em;
  border-bottom: solid #000000 .07em;
  margin-left: .3em;
  margin-top: .3em;
  background: white;
}
  
  