<div class="row">
        <nb-card-body>
          <form [formGroup]="parentForm">
              <div class="form-group row">
                <label for="inputAtuacao" class="label col-sm-3 col-form-label ui-button-rounded ui-button-dangerz">Área de Atuação</label>
                <div class="col-sm-9">
                  <p-selectButton [options]="areas"  formControlName="areaAtuacao" multiple="multiple" ></p-selectButton>
                </div>
              </div>
              <!-- div class="form-group row">
                <label for="inputFuncao" class="label col-sm-3 col-form-label">Função/Cargo</label>
                <div class="col-sm-9">
                    <select fullWidth="true" placeholder="Selecionar" name="funcao" id="funcao" formControlName="funcaoCargo" class="form-control-person  select-nebular-primary"  status="primary">
                      <option [value]="-1">Selecionar</option>
                      <option *ngFor="let option of tipoFuncaoServices$ | async" [value]="option.slug">{{option.nome}}</option>
                    </select>
                </div>
              </div -->
              <!--div class="form-group row">
                  <label for="inputNivel" class="label col-sm-3 col-form-label">Nível</label>
                  <div class="col-sm-9">
                      <select fullWidth="true" placeholder="Selecionar" name="nivel" id="nivel" formControlName="nivel" class="form-control-person  select-nebular-primary"  status="primary">
                        <option [value]="-1">Selecionar</option>
                        <option *ngFor="let option of tipoNivelServices$ | async" [value]="option.slug">{{option.name}}</option>
                      </select>
                 </div>
              </div -->
              <div class="form-group row">
                  <label for="inputPretensao" class="label col-sm-3 col-form-label">Pretensão Salarial</label>
                  <div class="col-sm-9">
                    <nb-radio-group id="rdbPretensaoSalarial"  formControlName="pretensaoSalarial">
                      <nb-radio
                        *ngFor="let option of optionsSalario"
                        [value]="option.value">
                        {{ option.label }}
                      </nb-radio>
                    </nb-radio-group>
                 </div>
              </div>
              <!--div class="form-group row">
                <label for="textQualificacao" class="label col-sm-3 col-form-label">Resumo de Qualificação</label>
                <div class="col-sm-9">
                      <textarea id="textQualificacao" nbInput fullWidth fieldSize="large" class="textarea-primary" placeholder="Notas"></textarea>
                 </div>
              </div-->
            </form>
            <div class="form-group" style="float: right;">
              <button (click)="atualizar()"
                      class="btn btn-primary btn-lg float-right mt-3">
                Publicar
              </button>
            </div>
          </nb-card-body>
</div>
