<nb-card>
    <nb-card-body>
        <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
            <app-vagas-form></app-vagas-form>
         </form>
    </nb-card-body>
</nb-card>