<div class="row">
  <div class="col-md-12">
      <div style="text-align: center">
        Candidatos para a vaga de <b>{{parentForm.get('cargo').value}}</b>
        <app-table-candidatos [parentForm]="parentForm" [parentFormSecundario]="parentFormSecundario" ></app-table-candidatos>
      </div>
  </div>
</div>

