<div class="row">
        <nb-card-body>
            <form>
              <div class="form-group row">
                <label for="inputEmail1" class="label col-sm-3 col-form-label">Nome</label>
                <div class="col-sm-9">
                  <input type="email" nbInput fullWidth id="inputEmail1" placeholder="Nome">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword2" class="label col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="text" nbInput fullWidth id="inputPassword2" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                  <label for="inputTelefone" class="label col-sm-3 col-form-label">Telefone</label>
                  <div class="col-sm-9">
                   <input type="text" nbInput fullWidth id="inputTelefone" placeholder="Telefone">
                 </div>
              </div>
              <div class="form-group row">
                  <label for="inputEstado" class="label col-sm-3 col-form-label">Estado</label>
                  <div class="col-sm-9">
                   <input type="text" nbInput fullWidth id="inputEstado" placeholder="Estado">
                 </div>
              </div>
              <div class="form-group row">
                  <label for="inputCidade" class="label col-sm-3 col-form-label">Cidade</label>
                  <div class="col-sm-9">
                   <input type="text" nbInput fullWidth id="inputCidade" placeholder="Cidade">
                 </div>
              </div>
              <div class="form-group row">
                  <label for="inputEndereco" class="label col-sm-3 col-form-label">Endereço</label>
                  <div class="col-sm-9">
                   <input type="text" nbInput fullWidth id="inputEndereco" placeholder="Endereço">
                 </div>
              </div>
              <div class="form-group row">
                  <label for="inputDtNascimento" class="label col-sm-3 col-form-label">Data de Nascimento</label>
                  <div class="col-sm-9">
                   <input type="text" nbInput fullWidth id="inputDtNascimento" placeholder="Data de Nascimento">
                 </div>
              </div>
              <div class="form-group row">
                  <label for="inputNacionalidade" class="label col-sm-3 col-form-label">Nacionalidade</label>
                  <div class="col-sm-9">
                   <input type="text" nbInput fullWidth id="inputNacionalidade" placeholder="Nacionalidade">
                 </div>
              </div>              
              <div class="form-group row">
                <label class="col-sm-3 label">Estado Civil</label>
                <div class="col-sm-9">
                  <nb-radio-group>
                    <nb-radio>Solteiro</nb-radio>
                    <nb-radio>Casado</nb-radio>
                    <nb-radio disabled>Disabled Option</nb-radio>
                  </nb-radio-group>
                </div>
              </div>              
            </form>
          </nb-card-body>
</div>