<meta name="viewport" content="width=device-width, initial-scale=1.0">


    <nb-tabset *ngIf="!exibirSemXp" badgePosition="bottom right" #tabset fullWidth >
      <nb-tab #addTab tabTitle="Adicionar Experiência Profissional" tabIcon="person-outline" responsive >
        <div class="row">
          <nb-card-body>
            <div class="form-group row">
              <label for="experiencia" class="label col-sm-3 col-form-label">Sem Experiëncia</label>
              <div class="col-sm-9">
                <p-inputSwitch
                onLabel="yes"
                (onChange)="handleChanges($event)"
                offLabel="no"
                [(ngModel)]="experiencia"></p-inputSwitch>
              </div>
            </div>
            <div *ngIf="xp">
              <div class="form-group row">
                <label for="inputAtribuicao" class="label col-sm-3 col-form-label">Descrição das atribuições (opcional)</label>
                <div class="col-sm-9">
                    <textarea id="inputAtribuicao" style="height: 10rem;"  class="form-control-person select-nebular-primary" nbInput placeholder="Atribuições"  [(ngModel)]="descAtribuicao"></textarea>
                </div>
              </div>
            </div>
            <form [formGroup]="parentForm">
              <div *ngIf="!xp">
                <div class="form-group row">
                  <label for="inputEmpregador" class="label col-sm-3 col-form-label">Empregador</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputEmpregador" placeholder="Empregador"  formControlName="empregador">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="profissao" class="label col-sm-3 col-form-label">Profissão</label>
                  <div class="col-sm-9">
                    <select fullWidth="true" placeholder="Selecionar" name="profissao" id="profissao" formControlName="profissao" #profissao class="form-control-person select-nebular-primary" status="primary">
                      <option [value]="-1">Selecionar</option>
                      <option *ngFor="let option of profissoes" [value]="option.idProfissao">{{option.nome}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row" *ngIf="profissao.value == -1"> 
                  <label for="inputNomeTrabalho" class="label col-sm-3 col-form-label">Outras Profissões</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputNomeTrabalho" placeholder=""  formControlName="nomeTrabalho">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputDtInicio" class="label col-sm-3 col-form-label">Data inicio (Mês/Ano)</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput class="form-control-person select-nebular-primary" mask="00/0000" fullWidth id="inputDtInicio" placeholder="Data de Inicio"  formControlName="dataInicio">
                  </div>
                </div>

                <div class="form-group row">
                    <label for="inputDtFim" class="label col-sm-3 col-form-label">Data Término (Mês/Ano)</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput class="form-control-person select-nebular-primary" mask="00/0000" fullWidth id="inputDtFim" placeholder="Data Fim"  formControlName="dataTermino">
                    </div>
                </div>

                <div class="form-group row">
                  <label for="inputNotas" class="label col-sm-3 col-form-label">Notas(opcional)</label>
                  <div class="col-sm-9">
                      <textarea id="inputNotas" class="form-control-person select-nebular-primary" nbInput placeholder="Message"  formControlName="notas"></textarea>
                  </div>
                </div>

                <div class="form-group" style="float: right;">
                  <button (click)="adicionar()"
                          class="btn btn-primary btn-lg float-right mt-3">
                    Adicionar
                  </button>
                </div>
              </div>
              <div *ngIf="xp">
                <div class="form-group" style="float: right;">
                  <button (click)="adicionarSemExp()"
                          class="btn btn-primary btn-lg float-right mt-3">
                    Adicionar
                  </button>
                </div>

              </div>
            </form>
            </nb-card-body>
        </div>
      </nb-tab>

      <nb-tab responsive *ngFor="let experienciaProfissional of parentForm.controls.experienciaProfissional?.controls; let i=index" tabTitle="Experiência {{i+1}}" tabIcon="person-outline">
        <form [formGroup]="parentForm" >
          <div formArrayName="experienciaProfissional" >
            <div class="row" [formGroupName]="i">
              <nb-card-body>
                <div class="form-group row">
                  <label for="inputEmpregador" class="label col-sm-3 col-form-label">Empregador</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputEmpregador" placeholder="Empregador" formControlName="empregador">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputNomeTrabalho" class="label col-sm-3 col-form-label">Profissão</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputNomeTrabalho" placeholder="" formControlName="nomeTrabalho">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputDtInicio" class="label col-sm-3 col-form-label">Data inicio (Mês/Ano)</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput class="form-control-person select-nebular-primary" mask="00/0000" fullWidth id="inputDtInicio" placeholder="Data de Inicio" formControlName="dataInicio">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputDtFim" class="label col-sm-3 col-form-label">Data Término (Mês/Ano)</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput class="form-control-person select-nebular-primary" mask="00/0000" fullWidth id="inputDtFim" placeholder="Data Fim" formControlName="dataTermino">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputNotas" class="label col-sm-3 col-form-label">Notas(opcional)</label>
                  <div class="col-sm-9">
                      <textarea id="inputNotas" class="form-control-person select-nebular-primary" nbInput placeholder="Message" formControlName="notas"></textarea>
                  </div>
                </div>
              </nb-card-body>
            </div>
          </div>
          <div class="form-group" style="float: right;">
            <button (click)="atualizar(i)"
                    class="btn btn-primary btn-lg float-right mt-3">
              Atualizar
            </button>
            &nbsp;&nbsp;&nbsp;
          </div>

          <div class="form-group" style="float: right;">
            <button (click)="remover(i)"
                    class="btn btn-danger btn-lg float-right mt-3">
              Remover
            </button>
            &nbsp;&nbsp;&nbsp;
          </div>
        </form>
      </nb-tab>
    </nb-tabset>

    <nb-tabset *ngIf="exibirSemXp" badgePosition="bottom right" #tabset fullWidth >
      <nb-tab #addTab tabTitle="Sem Experiência" tabIcon="person-outline" responsive >
        <div class="row">
          <nb-card-body>
            <div class="form-group row">
              <label for="experiencia" class="label col-sm-3 col-form-label">Sem Experiëncia</label>
              <div class="col-sm-9">
                <p-inputSwitch
                onLabel="yes"
                (onChange)="handleChangesSemXP($event)"
                offLabel="no"
                [(ngModel)]="!experiencia2"></p-inputSwitch>
              </div>
            </div>
            <div *ngIf="!xp2">
              <div class="form-group row">
                <label for="inputAtribuicao" class="label col-sm-3 col-form-label">Descrição das atribuições (opcional)</label>
                <div class="col-sm-9">
                    <textarea id="inputAtribuicao" style="height: 10rem;"  class="form-control-person select-nebular-primary" nbInput placeholder="Atribuições"  [(ngModel)]="descAtribuicao"></textarea>
                </div>
              </div>
            </div>
            <form [formGroup]="parentForm">
              <div *ngIf="xp2">
                <div class="form-group row">
                  <label for="inputEmpregador" class="label col-sm-3 col-form-label">Empregador</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputEmpregador" placeholder="Empregador"  formControlName="empregador">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputNomeTrabalho" class="label col-sm-3 col-form-label">Cargo Ocupado</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputNomeTrabalho" placeholder=""  formControlName="nomeTrabalho">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputDtInicio" class="label col-sm-3 col-form-label">Data inicio</label>
                  <div class="col-sm-9">
                    <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputDtInicio" placeholder="Data de Inicio"  formControlName="dataInicio">
                  </div>
                </div>

                <div class="form-group row">
                    <label for="inputDtFim" class="label col-sm-3 col-form-label">Data Término</label>
                    <div class="col-sm-9">
                      <input type="text" nbInput class="form-control-person select-nebular-primary" fullWidth id="inputDtFim" placeholder="Data Fim"  formControlName="dataTermino">
                    </div>
                </div>

                <div class="form-group row">
                  <label for="inputNotas" class="label col-sm-3 col-form-label">Notas(opcional)</label>
                  <div class="col-sm-9">
                      <textarea id="inputNotas" class="form-control-person select-nebular-primary" nbInput placeholder="Message"  formControlName="notas"></textarea>
                  </div>
                </div>

                <div class="form-group" style="float: right;">
                  <button (click)="adicionar2()"
                          class="btn btn-primary btn-lg float-right mt-3">
                    Adicionar
                  </button>
                </div>
              </div>
              <div *ngIf="!xp2">
                <div class="form-group" style="float: right;">
                  <button (click)="adicionarSemExp2()"
                          class="btn btn-primary btn-lg float-right mt-3">
                    Adicionar
                  </button>
                </div>

              </div>
            </form>
            </nb-card-body>
        </div>
      </nb-tab>
    </nb-tabset>
