<nb-card>
  <nb-card-body>
    <nb-stepper #stepper>
      <nb-step [stepControl]="firstForm" label="Vaga">
        <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
           <card-cargos [parentForm]="firstForm" ></card-cargos>
        </form>
      </nb-step>
      <nb-step [stepControl]="secondForm" label="Candidatos">
        <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
          <app-candidatos [parentForm]="firstForm" [parentFormSecundario]="secondForm"></app-candidatos>
        </form>
      </nb-step>
      <nb-step [stepControl]="thirdForm" label="Third step">
        <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
          <analise-comportamental></analise-comportamental>
        </form>
      </nb-step>
      <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
        <div class="step-container">
          <h3>Wizard completed!</h3>
          <button nbButton (click)="stepper.reset()">Try again</button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>