
<form [formGroup]="resourceForm">
  <div class="card">
    <nb-card status="info">
      <nb-card-header ><p style="color:#fff; font-size: unset; text-align: center">{{tituloSuporte}}</p></nb-card-header>
      <div class="card-body border border-primary">

        <div class="form-row">
          <!-- localizacao -->
          <div class="form-group col-md-6">
            <label for="firstName"><b>Nome</b></label>
            <input nbInput status="primary" fullWidth type="text" class="form-control" id="nome" formControlName="nome">
          </div>

          <!-- EMAIL -->
          <!--div class="form-group col-md-6"-->
            <!--label for="email"><b>Seu e-mail</b></label-->
            <input  type="hidden"  id="destinatario" formControlName="destinatario">
          <!--/div-->

          <!-- EMAIL -->
          <div class="form-group col-md-6">
            <label for="assunto"><b>Assunto</b></label>
            <input nbInput status="primary" fullWidth type="text" class="form-control" id="assunto" formControlName="assunto">
          </div>
        </div>

        <div class="form-group">
          <label for="mensagem"><b>Mensagem</b></label>
          <p-editor [style]="{'height':'180px'}" formControlName="mensagem"></p-editor>
       </div>



        <button (click)="enviarEmail()" class="btn btn-primary btn-lg float-right mt-3">
           Enviar
         </button>
      </div>

    </nb-card>
  </div>
  </form>
  <app-loading></app-loading>
