<nb-card accent="info">
  <div *ngIf="!possuiVaga">
    <div class="text-center">
      <nb-alert status="warning">{{textoCarregando}}</nb-alert>
      <br />
      <div *ngIf="exibirLoading">
          <br />
          <br />
          <img height="48" width="48" src="../../../../../assets/bantal/images/ajax-loader.gif"/>
        </div>
        <b>{{textoAguarde}}</b>
        <br />
        <br />
    </div>
  </div>
  <div *ngIf="possuiVaga">
  <form [formGroup]="formDadosMinhasVagas">
      <br/>
      <br/>
      <p-header>
          <div class="text-center">
              <h3>Minhas Vagas</h3>
              <center>Clique para acessar todas os detalhes da vaga</center>
          </div>
      </p-header>
      <br/>

        <p-carousel [value]="vagas" [circular]="true" [responsiveOptions]="responsiveOptions">

          <ng-template let-vaga pTemplate="item" let-i="index" >
                <div class="item-list card-vagas" [nbPopover]="template" [nbPopoverContext]="{ id: vaga.id, descricao: vaga.descricao, titulo: vaga.titulo, tipoVaga: vaga.tipoVagaModel.nome, nomeAreaAtuacao: vaga.areaAtuacaoModel.name, localizacao: vaga.localizacao, dataLimite: vaga.dataLimite }" nbPopoverTrigger="hint">
                  <div class="item item-1">
                    <div class="img"><a (click)="removerCandidatura(vaga)">
                        <div class="like">
                          <i nbPopover="Remover Inscrição" style="background-color: #cd486b;"
                                      nbPopoverTrigger="hover"
                                      class="fa fa-times fa-2x" aria-hidden="true" disabled></i>
                        </div></a>
                        <div *ngIf="vaga.foto != null" class="text-center">
                          <img #photo class="image-foto foto-painel"[src]="adicionarTag(vaga.foto)">
                      </div>
                      <div *ngIf="vaga.foto == null" class="text-center">
                          <img #photo class="img-content" src="{{semImagem}}">
                      </div>
                    </div>
                    <div class="text-container">
                      <span class="top">{{vaga.titulo}}</span>
                      <div class="content">
                      </div>
                      <div class="readmore text-center">
                        <div class="text-left texto">
                          <b>Termina em:</b> {{vaga.dataLimite}}
                          <br/>
                          <b>Salário:</b> {{vaga.salario}}
                        </div>
                      </div>
                      <br />
                      <div class="text-center line"></div>
                      <br />
                        <div class="readmore text-center">
                          <nb-actions size="small">
                            <nb-action #nbAction
                                        nbPopover="Conversar com a Empresa"
                                        nbPopoverTrigger="hover"
                                        title="{{vaga.id}}" class="control-item"
                                        badgePosition="top right"
                                        icon="email-outline"
                                        badgeStatus="danger"
                                        (click)="redirecionarPainelMensagensCandidato(vaga.id + ' - ' +vaga.titulo)"></nb-action>
                            <nb-action>
                                  Converse com a Empresa
                            </nb-action>
                          </nb-actions>
                        </div>
                      </div>
                    </div>
                  </div>
          </ng-template>
          <ng-template #template let-data>
            <nb-card-header>{{ data.id }} - {{ data.titulo }}</nb-card-header>
            <nb-card class="popover-card">
              <nb-card-body>
                <br>
                <span>{{ data.nomeAreaAtuacao }} - {{ data.tipoVaga }}</span>
                <br>
                <span>{{ data.localizacao }}</span>
                <br>
                <span>{{ data.dataLimite }}</span>
                <br>
                <br>
                {{ obterString(data.descricao) }}
              </nb-card-body>
            </nb-card>
          </ng-template>
        </p-carousel>
      </form>
    </div>
</nb-card>
