<!--div class="flex-container flex-column"-->
  <form [formGroup]="parentFormGroup" (ngSubmit)="onSubmit()" class="form">          
      <!--div class="flex-container flex-wrap"-->
        <!--div class="element"-->          
          <!--div class="flex-container"-->
            <div *ngFor="let hobby of parentFormGroup.controls.hobbies?.controls; let i=index;"
              class="flex-container  multi-checkbox">              
              <nb-checkbox [checked]="hobby.value.selected" (change)="!checkValue($event, hobby, i)">{{hobby.value.name}}</nb-checkbox>
            </div>
          <!--/div-->
        <!--/div-->       
      <!--/div-->
      </form>
  <!--/div-->