.texto {
  font-size: 34px;
  //color: #fff;
  font-weight: 600;
}

nb-card {
  font-size: 34px;
  //color: #fff;
  border-radius: 2rem;
  margin: 0;
  //box-shadow: 3px 3px #0095ff, -3px 3px #0095ff;
}

nb-card-footer {

  font-size: 34px;
  //color: #fff;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.total-candidatos{
  //background: linear-gradient(to right, #fffbd5, #b20a2c);

}

.vagas-abertas {
  //background: linear-gradient(to right, #005aa7, #fffde4);
}

.layout-dashboard{
  margin: 0
}


