<app-loading></app-loading>

<div class="p-grid layout-dashboard">
  <div class="p-col-md p-md-2 p-lg-3 text-center">
    <nb-card accent="info" class="vagas-abertas">
      <nb-card-header>
          <nb-actions size="small">
            <nb-action  class="control-item"
                        badgePosition="top right"
                        icon="home-outline"
                        badgeStatus="danger"></nb-action>
          <nb-action class="texto">
             Empresas
          </nb-action>
          </nb-actions>
      </nb-card-header>
      <nb-card-body class="texto">
        {{dados.listaPerfil?.length}}
      </nb-card-body>
      <nb-card-footer id="wave" style="background:white;">
        <p-chart type="horizontalBar" [data]="vagasAbertas"></p-chart>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="p-col-md p-md-2 p-lg-3 text-center">
    <nb-card accent="info" class="total-candidatos texto">
      <nb-card-header>
        <nb-actions size="small">
          <nb-action  class="control-item"
                      badgePosition="top right"
                      icon="edit-2-outline"
                      badgeStatus="danger"></nb-action>
        <nb-action class="texto">
           Vagas
        </nb-action>
        </nb-actions>
      </nb-card-header>
      <nb-card-body class="texto">
        {{dados.listaVagas?.length}}
      </nb-card-body>
      <nb-card-footer style="background:white;">
        <p-chart type="horizontalBar" [data]="inscricoesVaga"></p-chart>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="p-col-md p-md-2 p-lg-3 text-center">
    <nb-card accent="info" class="total-candidatos texto">
      <nb-card-header><nb-actions size="small">
        <nb-action  class="control-item"
                    badgePosition="top right"
                    icon="image-outline"
                    badgeStatus="danger"></nb-action>
      <nb-action class="texto">
         Currículos
      </nb-action>
      </nb-actions>
    </nb-card-header>
      <nb-card-body class="texto">
        {{dados.listaCurriculos?.length}}
      </nb-card-body>
      <nb-card-footer style="background:white;">
        <p-chart type="horizontalBar" [data]="inscricoesVaga"></p-chart>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="p-col-md p-md-2 p-lg-3 text-center">
    <nb-card accent="info" class="total-candidatos texto">
      <nb-card-header>
        <nb-actions size="small">
          <nb-action  class="control-item"
                      badgePosition="top right"
                      icon="edit-2-outline"
                      badgeStatus="danger"></nb-action>
        <nb-action class="texto">
           Inscrições
        </nb-action>
        </nb-actions>
      </nb-card-header>
      <nb-card-body class="texto">
        {{dados.listaInscricaoVagas?.length}}
      </nb-card-body>
      <nb-card-footer style="background:white;">
        <p-chart type="horizontalBar" [data]="inscricoesVaga"></p-chart>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="p-col-12 p-md-6 p-lg-4" style="width:100%">
    <div class="card card-w-title global-sales ui-fluid">
        <app-lista-vagas [parentForm]="formDados"></app-lista-vagas>
    </div>
  </div>
</div>
