/* Alerta Erro----------------------------------------------- *//* Geral */
.alerta {
    padding: 25px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px;
    font-size: 18px;
}
.error {
    border: 1px solid gray;
    color: #FFF;
    background-color: #ed5565;
    border-radius: 3px;
    font-weight: bold;
    padding: 10px;
}
.sucesso {
    border-color: #87c940;
    color: #FFF;
    background-color: #a0d468;
}
.atencao {
    border-color: #f4a911;
    color: #FFF;
    background-color: #f6bb42;
}
.info {
    border-color: #2f80e7;
    color: #FFF;
    background-color: #5d9cec;
}

@media screen and (max-width: 1960px) {

  .minhas-informacoes {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #5d9cec;
    float: left;
    height: 100%;
    justify-content: space-evenly;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
  }

  .minhas-informacoes-card {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #5d9cec;
    padding: 20px 0;
  }

}


@media screen and (max-width: 1300px) {

   .minhas-informacoes {
    margin-left: 10px;
    margin-top: 10px;
    color: #fff;
    background: #5d9cec;
    height: 100%;
    padding: 25px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
  }

  .minhas-informacoes-card {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: #5d9cec;
    padding: 20px 0;
  }

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}
.span-texto{
  margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    justify-content: space-evenly;
}

.line {
  width: 100%;
  height: 0;
  border: 1px solid #C4C4C4;
  margin: 3px;
  display:inline-block;
}
