
<form [formGroup]="resourceForm">
  <div class="card">
    <p-card >
      <div class="minhas-informacoes-card" style="text-align: center">Minhas Informações</div>
      <div class="card-body border border-primary">

        <!-- titulo >
        <div class="form-group">
          <label for="titulo">Empresa</label>
          <input type="text" class="form-control" id="empresa" [value]="user.userLogin" disabled>
        </div-->

        <div class="text-center">
          <image-upload-perfil [parentForm]="resourceForm"></image-upload-perfil>
        </div>

        <div class="form-row">
          <!-- localizacao -->
          <div class="form-group col-md-6">
            <label for="firstName"><b>Nome</b></label>
            <input nbInput status="primary" fullWidth type="text" class="form-control" id="firstName" formControlName="first_name">
          </div>

          <!--div class="form-group col-md-6">
            <label for="lastName"><b>Sobrenome</b></label>
            <input nbInput status="primary" fullWidth type="text" class="form-control" id="lastName" formControlName="last_name">
          </div-->

          <!-- type -->
          <div class="form-group col-md-6">
            <label for="nmExibicao"><b>Nome de exibiçåo</b></label>
            <input nbInput status="primary" fullWidth  type="text" class="form-control" id="nmExibicao" formControlName="displayName">
          </div>

          <!-- EMAIL -->
          <div class="form-group col-md-6">
            <label for="email"><b>Endereço de email</b></label>
            <input nbInput status="primary" fullWidth type="text" class="form-control" id="email" formControlName="email">
          </div>
          <div class="form-group col-md-6" *ngIf="isCandidato == false">
            <label for="sigla"><b>Sigla</b></label>
            <input nbInput status="primary" fullWidth type="text" class="form-control" id="sigla" formControlName="sigla">
            </div>

          <div class="form-group col-md-12" *ngIf="isCandidato == false">
            <label for="sobre"><b>Sobre a Empresa</b></label>
            <textarea status="primary" fullWidth type="text" class="form-control" id="sobreEmpresa" formControlName="sobreEmpresa" placeholder="Descreva nesse campo: Ramo de atividade, missão, visão e valores sobre a sua Empresa" >
            </textarea>
            </div>

        </div>
        <div class="form-row">
          <div class="form-group  col-md-14">
            <label for="senha"> <b>Senha atual </b></label>
            <input nbInput status="primary" fullWidth type="text" class="form-control" id="senha" type="password" formControlName="userPass">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-16 ">
            <label for="newSenha"> <b>Nova Senha </b> </label>
            <input nbInput status="primary" fullWidth name="senha" class="form-control" formControlName="newSenha"  id="newSenha" type="password" >
           </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-14 ">
            <label for="confSenha">  <b>Confirmar nova Senha </b></label>
              <input nbInput status="primary" fullWidth name="confSenha" class="form-control" formControlName="confSenha"  id="confSenha" type="password" >
              <br />
            <div style="height: 5em;">
                <div *ngIf="!confSenha.pristine && confSenha.errors">
                  <p class="error" *ngIf="confSenha.errors.senhasNaoCoincidem">
                    As senhas não coincidem.
                  </p>
                </div>
            </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <button (click)="updateDados()" class="btn btn-primary btn-lg">
              Salvar
           </button>
          </div>


      </div>

    </p-card>
  </div>
  </form>
  <app-loading></app-loading>
