<div class="table-title">
  <h1>Banco de Talentos | Áreas de Atuação</h1>
</div>
<div class="p-grid">
  <div *ngFor="let areaAtuacao of listaAreaAtuacao" class="p-col-12 p-md-6 p-lg-4">
    <div class="card card-w-title global-sales ui-fluid rounded-extra nb-card">
      <div class="card-header text-center ">
        <p>{{ areaAtuacao.nome }}</p>
      </div>
      <div class="card-body">
        <div class="card-content text-center">
          <img [src]="areaAtuacao.foto" alt="" class="area-img">
          <p>Quantidade de Candidatos: {{ areaAtuacao.quantidade }}</p>
          <div class="button-container">
            <button class="btn btn-outline-success btn-sm mr-2" [routerLink]="['/banco-talentos/profissoes-por-area-atuacao', areaAtuacao.idAreaAtuacao]">
              <nb-icon class="nb-icon" [options]="{ size: '2rem' }" status="success" icon="people-outline"></nb-icon>
              <br/> Ver Profissões
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
