/* Estilos da tabela */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-header {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

.table-row:nth-child(even) {
  background-color: #f7f7f7;
}

.table-row td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

/* Estilos para o botão */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Estilos para ícone */
.nb-icon {
  font-size: 2rem;
  color: #ff5858;
}

/* Estilos para o card */
.nb-card {
  border: none;
  margin: 10px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.nb-card-header {
  background: #ffc107;
  font-size: 1.2rem;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  color: #fff;
}

.nb-card-body {
  background: #fff;
  padding: 15px;
}

/* Estilos para o título da tabela */
.table-title {
  text-align: center;
  margin-top: 20px;
}

.table-title h1 {
  font-size: 2rem;
  margin: 0;
  color: #333;
}
