<nb-card status="primary">
    <nb-card-header style="text-align: center">Insira uma Mensagem para enviar aos Candidatos selecionados</nb-card-header>
    <nb-card-body style="text-align: center">
      <textarea [rows]=10 [cols]=40 autoResize="autoResize"></textarea>
    </nb-card-body>
    <nb-card-footer style="text-align: right">
        <button nbButton nbStepperPrevious>Voltar</button>
        &nbsp;
        <button nbButton nbStepperNext>Avançar</button>       
    </nb-card-footer>
  </nb-card>