
<app-page-header
  [page-title]="pageTitle"
  button-text="<< Voltar"
  button-link="/entries"
  button-class="btn-light"
></app-page-header>


<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">
      Informações sobre o Colaborador
    </div>

    <div class="card-body">
      <div class="form-row">
        <!-- type -->
        <div class="form-group col-md-2">
          <label for="type">Tipo</label>

          <select name="type" id="type" formControlName="type" class="form-control">
            <option *ngFor="let option of typeOptions" [value]="option.value">CPF</option>
          </select>


        </div>

		  <!-- name -->
        <div class="form-group col-md-5">
          <label for="ident">Identificação</label>
          <input type="text" class="form-control" id="ident" formControlName="ident">
          

        </div>
		  
        <!-- name -->
        <div class="form-group col-md-7">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          

        </div>
		  
		<div class="form-group col-md-4">
          <label for="name">Telefone</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          

        </div>
		  
		  <div class="form-group col-md-7">
          <label for="name">Endereço</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          

        </div>

        <div class="form-group col-md-4">
          <label for="name">Conta Bancaria</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          

        </div>
		  
		  <div class="form-group col-md-7">
          <label for="name">Email</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          

        </div>
		  
		  <div class="form-group col-md-2">
          <label for="type">Cargo</label>

          <select name="type" id="type" formControlName="type" class="form-control">
            <option *ngFor="let option of typeOptions" [value]="option.value">Vendedor</option>
          </select>


        </div>
		  
		  <div class="form-group col-md-7">
          <label for="name">PIS</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          

        </div>
      </div>

    </div>
    <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
      Salvar
    </button>
  </div>

</form>