<div id="content" #content> 
    <nb-card> 
   <div>
    <input type="button" value="CPTURE" (click)="generatePDF()"/> 
    </div> 
    </nb-card> 
   </div> 
   <div > 
    <nb-card> 
    <table id="contentToConvert"> 
    <tr> 
    <th>Column1</th> 
    <th>Column2</th> 
    <th>Column3</th> 
    </tr> 
    <tr> 
    <td>Row 1</td> 
    <td>Row 1</td> 
    <td>Row 1</td> 
    </tr> 
    <tr> 
    <td>Row 2</td> 
    <td>Row 2</td> 
    <td>Row 2</td> 
    </tr> 
    <tr> 
    <td>Row 3</td> 
    <td>Row 3</td> 
    <td>Row 3</td> 
    </tr> 
    <tr> 
    <td>Row 4</td> 
    <td>Row 4</td> 
    <td>Row 4</td> 
    </tr> 
    </table> 
    
    </nb-card> 
   </div> 