<div class="p-grid layout-dashboard">
    <div class="p-col-12 p-md-6 p-lg-4">
        <div class="overview-box card">
            <div class="overview-box-title">COLABORADORES</div>
            <div class="overview-box-value">90</div>
            <img src="assets/layout/images/dashboard/graph-tasks.svg" alt="">
            <div class="overview-box-status">
                +8.9% <i class="pi pi-arrow-circle-up"></i>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-4">
        <div class="overview-box card">
            <div class="overview-box-title">GASTOS</div>
            <div class="overview-box-value">R$ 1.259,00</div>
            <img src="assets/layout/images/dashboard/graph-purchases.svg" alt="">
            <div class="overview-box-status">
                +67.2% <i class="pi pi-arrow-circle-up"></i>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-4">
        <div class="overview-box card">
            <div class="overview-box-title">VAGAS ABERTAS</div>
            <div class="overview-box-value">21</div>
            <img src="assets/layout/images/dashboard/graph-issues.svg" alt="">
            <div class="overview-box-status">
                +3.0% <i class="pi pi-arrow-circle-up"></i>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-4" style="width:100%">
        <div class="card card-w-title global-sales ui-fluid">
            <app-page-header
              page-title="Colaboradores"
              button-text="+ Novo"
              button-link="novo"
              button-class="btn-success"
            ></app-page-header>
            <app-table-colaborador></app-table-colaborador>
        </div>
</div>
</div>

