.p-grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -2.5em;
    margin-left: -2.5em;
    margin-top: -2.5em;
}

@media only screen and (max-device-width: 600px) {
    .p-grid {
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.5em;
        margin-left: -0.5em;
        margin-top: -0.5em;
    }
}