<div class="text-center">
    <img style="width:7rem" src="../../../../assets/images/alan.png">
</div>
<br/>
<br/>
<nb-tabset>
    <nb-tab tabTitle="Informações do Candidato">
        <p-accordion fullwidth>
            <p-accordionTab header="Dados Pessoais">
               <app-dados-pessoais></app-dados-pessoais>
            </p-accordionTab>
            <p-accordionTab header="Informações sobre a Área de atuação">
                <app-informacoes-cargo></app-informacoes-cargo>
            </p-accordionTab>
            <p-accordionTab header="Formação">
                <app-informacoes-formacao></app-informacoes-formacao>
            </p-accordionTab>
            <p-accordionTab header="Experiência Profissional">
                <app-informacoes-experiencia></app-informacoes-experiencia>
            </p-accordionTab>
            <p-accordionTab header="Espaço do Avaliador">
                <app-informacoes-experiencia></app-informacoes-experiencia>
            </p-accordionTab>
        </p-accordion>
    </nb-tab>
    <nb-tab tabTitle="Perguntas Respondidas" badgeText="99+" badgeStatus="warning" badgePosition="bottom right">
      Tab content 2
    </nb-tab>
   </nb-tabset>