<div>
  <button class="btn btn-outline-success btn-sm mr-2" (click)="goBack()">
    <nb-icon class="button-icon" [options]="{ size: '2rem' }" status="success" icon="corner-up-left-outline"></nb-icon>
    <span class="button-text">Voltar para Profissões</span>
    </button>
</div>
<div class="form-group" style="text-align: right">
  <button class="btn btn-outline-success btn-sm mr-2" (click)="exportToExcel()">
    <nb-icon icon="download-outline"></nb-icon>
    Exportar Todos para Excel
  </button>
</div>
<nb-card status="primary">
  <nb-card-header style="text-align: center"><b>Selecione os Candidatos abaixo para Gerar os Currículos</b></nb-card-header>
<nb-card-body>
<p-table [columns]="cols" [responsive]="true" [value]="curriculos" [paginator]="true" [rows]="5" selectionMode="single" (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th style="text-align: center">Candidato</th>
          <th style="text-align: center">CPF</th>
          <!--<th style="text-align: center">Conversar com o Candidato</th>-->
          <th style="text-align: center">Imprimir Currículo</th>
          <th style="text-align: center">Selecionar</th>
      </tr>

  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td style="text-align: center">{{ rowData.nome }}</td>
        <td style="text-align: center">{{ rowData.identificacao }}</td>

        <!--<td class="alinhar-colunas">
          <span class="ui-column-title">Conversar<br></span>
          <button style="border: none;" class="btn btn-outline-danger btn-sm mr-2 text-center" (click)="redirecionarPainelMensagensEmpresa(titulo, rowData['idUsuario'])">
            <nb-actions size="small" class="text-center">
              <nb-action nbButton #nbAction style="margin-left: -21px;" class="btn btn-outline-primary btn-sm mr-2"
                          title="{{titulo}}-{{rowData['cpf']}}__{{rowData['idUsuario']}}" class="control-item"
                          badgePosition="top right"
                          icon="email-outline"
                          badgeStatus="primary"></nb-action>
            </nb-actions>
          </button>
        </td>-->
        <td class="alinhar-colunas">
                <span class="ui-column-title">Imprimir<br></span>
                <button style="border: none;" class="btn btn-outline-danger btn-sm mr-2" (click)="gerarPDFPorIdUsuario(rowData['userId'])">
                  <nb-icon icon="file-text-outline"></nb-icon>
                </button>
              </td>
              <td class="alinhar-colunas">
                <span class="ui-column-title">Selecionar<br></span>
                <p-checkbox name="groupname" [value]="rowData.nome" [(ngModel)]="selectedCurriculos"></p-checkbox>
                &nbsp;
                &nbsp;
                &nbsp;
            </td>
          </tr>
  </ng-template>
</p-table>
<br/>
<div class="form-group" style="text-align: center">
  &nbsp;
  <button class="btn btn-outline-danger btn-sm mr-2" (click)="gerarPDF()">
    <nb-icon icon="file-text-outline"></nb-icon>
      Gerar PDF
  </button>
</div>
</nb-card-body>
</nb-card>
