.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-header {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

.table-row:nth-child(even) {
  background-color: #f2f2f2;
}

.table-row td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center; /* Centralizar o texto */
}

.button-container {
  display: flex;
  justify-content: center;
}

.nb-icon {
  font-size: 1.5rem;
}

/* Estilos opcionais para nb-card */
.nb-card {
  border: none;
  margin: 5px;
  width: 100%;
}

.nb-card-header {
  background: white;
  font-size: 1.0rem;
  padding: 10px;
}

.nb-card-body {
  background: white;
  padding: 10px;
}

.nb-card-footer {
  background: white;
  font-size: 0.9rem;
  padding: 10px;
}
.table-title {
  text-align: center;
  margin-top: 20px;
}

.table-title h1 {
  font-size: 1.5rem;
  margin: 0;
}
.alinhar-colunas {
  text-align: center;
}

@media screen and (max-width: 640px) {
  .alinhar-colunas {
      text-align: left;
  }
  .back-button {
    display: flex;
    align-items: center;
    background-color: #f44336; /* Cor de fundo vermelha */
    color: white; /* Cor do texto */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }

  .back-button:hover {
    background-color: #ff5858; /* Cor de fundo vermelha mais escura ao passar o mouse */
    transform: scale(1.05); /* Efeito de escala suave ao passar o mouse */
  }

  .button-icon {
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
  }

  .button-text {
    font-size: 1rem;
  }
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4caf50; /* Cor de fundo verde */
  color: white; /* Cor do texto */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.custom-button:hover {
  background-color: #45a049; /* Cor de fundo verde mais escura ao passar o mouse */
  transform: scale(1.05); /* Efeito de escala suave ao passar o mouse */
}

.button-icon {
  margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

.button-text {
  font-size: 1rem;
}
