<nb-card style="height: 30rem; margin: 0; padding: 0">
  <nb-list>
    <nb-list-item *ngFor="let pergunta of pageOfItems">
      <nb-card status="success">
        <nb-card-header>Pergunta {{pergunta}}</nb-card-header>
        <nb-card-body style="text-align: center">
          <div style="text-align: center">
            Resposta do Candidato
          </div> 
          <textarea [rows]="5"  autoResize="autoResize"></textarea>
        </nb-card-body>
        <nb-card-footer>
          <app-rating id="rating"></app-rating>          
        </nb-card-footer>
      </nb-card>
    </nb-list-item>
  </nb-list>
  <app-paginate [items]="perguntas" [pageSize]="1" (changePage)="onChangePage($event)"></app-paginate>
</nb-card>