@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inter-UI-Regular.otf") format('opentype'), /* IE6-IE8 */
    url("../fonts/Inter-UI-Regular.woff2") format('woff2'), /* Super Modern Browsers */
    url("../fonts/Inter-UI-Regular.woff") format('woff'), /* Modern Browsers */
    url("../fonts/Inter-UI-Regular.ttf") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Inter-UI-SemiBold.otf") format('opentype'), /* IE6-IE8 */
    url("../fonts/Inter-UI-SemiBold.woff2") format('woff2'), /* Super Modern Browsers */
    url("../fonts/Inter-UI-SemiBold.woff") format('woff'), /* Modern Browsers */
    url("../fonts/Inter-UI-SemiBold.ttf") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Inter-UI-Bold.otf") format('opentype'), /* IE6-IE8 */
    url("../fonts/Inter-UI-Bold.woff2") format('woff2'), /* Super Modern Browsers */
    url("../fonts/Inter-UI-Bold.woff") format('woff'), /* Modern Browsers */
    url("../fonts/Inter-UI-Bold.ttf") format('truetype'); /* Safari, Android, iOS */
}
